<!DOCTYPE html>
<html lang="en">

<head>
  <script>
    function getQueryParam(param) {
      const urlParams = new URLSearchParams(window.location.search);
      
      return urlParams.get(param);
    }
    
    /**

 * Run the query parameter extraction on page load and update the page content.

 */
    
    function runOnPageLoad() {
      const queryValue = getQueryParam("query");
      
      if (queryValue !== null) {
        localStorage.setItem("viewXV", "poetry");
        
        localStorage.setItem("XVCurrentChapter", queryValue);
        
        console.log("Query parameter value:", queryValue); // You can replace this line with any other action
        
        // Update the page content based on the query parameter value
        
        localStorage.setItem("coverTabXVIsActive", false);
        localStorage.setItem("authorTabXVIsActive", false);
        localStorage.setItem("dedTabXVIsActive", false);
        localStorage.setItem("chapterTabXVIsActive", true);
        
        document.addEventListener("DOMContentLoaded", function() {
          var integrationTab = document.getElementById("pills-integration-tab");
          
          if (integrationTab) {
            integrationTab.click();
          } else {
            console.error("Element with ID 'pills-integration-tab' not found.");
          }
        });
      }
    }
    
    runOnPageLoad();
  </script>
  
  <!--===== Required meta tags =====-->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="Howard Frith Hilton" />
  <meta name="description" content="Frith Hilton Collection XV" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <meta property="og:url" content="" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Frith Hilton Collection XV" />
  <meta property="og:description" content="Frith Hilton Collection XV" />
  <meta property="og:image" content="" />
  
  <!--===== Title =====-->
  <title>Frith Hilton Collection XV </title>
  
  <!--===== Favicon =====-->
  <link rel="shortcut icon" href="../../images/favicon.png" />
  
  <!--===== Google fonts =====-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Jost:wght@300;400;500;600;700;800;900&display=swap" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet" />
  <!-- font-awesome-icons -->
  <script src="https://kit.fontawesome.com/c7fbb1b458.js" crossorigin="anonymous"></script>
  
  <!--===== Global bootstrap required css =====-->
  <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css" />
  <!--===== Global styles including: Font Icons, Plugins, etc =====-->
  <link rel="stylesheet" type="text/css" href="../../css/font-awesome/all.min.css" />
  <link rel="stylesheet" href="../../css/feather/iconfont.css" />
  <link rel="stylesheet" href="../../css/pe-icon-stroke/Pe-icon-7-stroke.css" />
  <link rel="stylesheet" href="../../css/simple-line-icons/simple-line-icons.css" />
  <link rel="stylesheet" href="../../css/themify-icons/themify-icons.css" />
  <link rel="stylesheet" href="../../css/pe-icon-stroke/Pe-icon-7-stroke.css" />
  <link rel="stylesheet" href="../../css/swiper/swiper.min.css" />
  <link rel="stylesheet" href="../../css/magnific-popup/magnific-popup.css" />
  <!--===== Main theme css =====-->
  <link rel="stylesheet" href="../../css/style.css" />
  
</head>

<body class="stokes-wrapper" id="ctrlArea" v-cloak>
  <!--========== 
	Start of loader ==========-->
  
  <div class="template-loader">
    <div class="loaderCenter">
      <div class="book">
        <div class="book__pg-shadow"></div>
        <div class="book__pg"></div>
        <div class="book__pg book__pg--2"></div>
        <div class="book__pg book__pg--3"></div>
        <div class="book__pg book__pg--4"></div>
        <div class="book__pg book__pg--5"></div>
      </div>
    </div>
  </div>
  
  <!--========== 
	End of loader ==========-->
  
  <!--========== 
    Start of  cookie modal notification section ==========-->
  <div class="modal-subscribe">
    <!-- Modal -->
    <div class="modal fade" data-bs-backdrop="static" id="myModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body p-0 bg-secondary rounded">
            <div class="p-5 text-center">
              <img class="img-fluid px-5" src="/images/svg/cookie.svg" alt="" />
              <h3>Cookies</h3>
              <p class="text-dark">
                <b>Hilton</b> uses cookies to enhance user experience
              </p>
              <a href="/cookies.html" class="text-primary-gradient fw-bold">Our policy</a>
              <div class="d-grid mt-5">
                <button type="button" class="btn btn-white rounded" data-bs-dismiss="modal" @click="store.acceptCookieUse()">
                  Accept
                </button>
                <p class="text-dark mt-4">
                  Coupled with
                  <svg class="logo" viewBox="0 0 128 128" width="24" height="24" data-v-53ccc107="">
                    <path fill="#42b883" d="M78.8,10L64,35.4L49.2,10H0l64,110l64-110C128,10,78.8,10,78.8,10z" data-v-53ccc107=""></path>
                    <path fill="#35495e" d="M78.8,10L64,35.4L49.2,10H25.6L64,76l38.4-66H78.8z" data-v-53ccc107=""></path>
                  </svg>
                  <a href="https://github.com/vuejs/petite-vue" target="_blank" style="color: #42b883"><b>petite-vue</b></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--========== 
          End of cookie modal notification section ==========-->
  <!--==========-->
  
  
  
  
  
  <header class="header">
    <!--===== Start of navbar =====-->
    <nav class="navbar navbar-light navbar-expand-lg navbar-default">
      <div class="container-fluid">
        <!--===== Start of logo =====-->
        <a class="navbar-brand" href="/"><img class="logo" src="/images/logo.png" alt="Frith Hilton Logo" /></a>
        <!--===== End of logo =====-->
        
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar top-bar mt-0"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
        
        <!--===== Start of nav =====-->
        <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/"><span class="text-line"> Home </span></a>
            </li>
            <li class="nav-item dropdown active">
              <a @click="store.goToPublished" class="nav-link dropdown-toggle" href="#" id="navbar-pages" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="text-line"> Publications</span>
              </a>
              
              <!--<ul class="dropdown-menu" aria-labelledby="navbar-pages">
                <div class="mb-3 mt-3">
                  <a href="#">
                    Frith Hilton Collections
                  </a>
                </div>

                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections I — III </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-I.html"><span class="text-line">
                          Collection I
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-II.html"><span class="text-line">
                          Collection II
                        </span></a>
                    </li>
                    <li class="dropdown-submenu">
                      <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collection III </span></a>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="../published/poetry/collection-III.html"><span class="text-line">
                              Valentine Edition
                            </span></a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="../published/poetry/collection-III-ii.html"><span class="text-line">
                              Original Edition
                            </span></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections IV — VI </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-IV.html"><span class="text-line">
                          Collection IV
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-V.html"><span class="text-line">
                          Collection V
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-VI.html"><span class="text-line">
                          Collection VI
                        </span></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections VII — IX </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-VII.html"><span class="text-line">
                          Collection VII
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-VIII.html"><span class="text-line">
                          Collection VIII
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-IX.html"><span class="text-line">
                          Collection IX
                        </span></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections X — XII </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-X.html"><span class="text-line">
                          Collection X
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XI.html"><span class="text-line">
                          Collection XI
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XII.html"><span class="text-line">
                          Collection XII
                        </span></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections XIII — XIV </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XIII.html"><span class="text-line">
                          Collection XIII
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XIV.html"><span class="text-line">
                          Collection XIV
                        </span><span class="badge bg-primary" style="font-size: 0.55em">New</span></a>
                    </li>
                  </ul>
                </li>
                <div class="mb-3 mt-3">
                  <a href="#">
                    Non-Fiction
                  </a>
                </div>

                <li>
                  <a class="dropdown-item" href="published/poetry/bury-me-in-1965.html"><span class="text-line">
                      Bury me in 1965
                    </span></a>
                </li>

                <li>
                  <a class="dropdown-item" href="published/journal/a-life-worth-living.html"><span class="text-line">
                      A Life Worth Living (Vision @ 2020)
                    </span></a>
                </li>
              
              </ul>-->
            </li>
            
            
            <li class="nav-item">
              <a class="nav-link" href="../../pages/upcoming.html"><span class="text-line"> Upcoming Poetry</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/freshPlayer.html"><span class="text-line"> Fresh Player </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/who-is-frith-hilton.html"><span class="text-line"> Who is Frith Hilton? </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../cookies.html"><span class="text-line"> Cookies Policy </span></a>
            </li>
          </ul>
        </div>
        <!--===== End of nav =====-->
      </div>
    </nav>
    <!--===== End of navbar =====-->
  </header>
  
  <!--========== 
        End of header ==========-->
  
  <!--========== 
        End of Sidebar ==========-->
  <section class="position-relative slice-ptb">
    <div class="mb-0">
      <a id="designer" href="https://leondev.com.ng" target="_blank" v-if="store.checkLocation()">
        <img class="img-fluid" src="../../images/ads/designedBySamsungS8.png" alt="">
      </a>
    </div>
  </section>
  <section class="position-relative slice-ptb">
    <div class="top-separator">
      <img class="img-fluid" src="/images/separator/brush.svg" alt="" />
    </div>
    <div class="slice-ptb mt-n5">
      <div class="container">
        <div class="row text-center justify-content-center">
          <div class="col-lg-9 col-xl-8">
            <h1 class="text-nightswan-gradient mb-5">
              Frith Hilton Collection
              <span class="text-nightswan-gradient"> XV </span>
            </h1>
            <h5 style="color: #010521">
              <a class="icon link mt-7 fw-bold" href="https://paystack.com/pay/fhcxv">
                <span>Buy epub</span>
              </a>
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-divider mt-n5">
      <img class="img-fluid" :src="'../../images/separator/brush.svg'" alt="" />
    </div>
  </section>
  
  <section class="position-relative slice-ptb">
    <div class="container">
      <button class="btn btn-naked btn-icon-right" href="#!" v-effect="if
        (store.currentChapter == 0) $el.focus()"></button>
      <div class="row align-items-center mt-6">
        <h2 class="mb-6 text-center">Contents</h2>
        <div class="col-12">
          <ul class="nav nav-pills nav-border-wide justify-content-center mb-3" id="pills-tab-07" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-trekking-tab" data-bs-toggle="pill" data-bs-target="#pills-trekking" type="button" role="tab" aria-controls="pills-trekking" aria-selected="true" @click="store.setCoverXVAsTab()">
                Cover
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-analysis-tab" data-bs-toggle="pill" data-bs-target="#pills-analysis" type="button" role="tab" aria-controls="pills-analysis" aria-selected="false" @click="store.setAuthorXVAsTab()">
                Author's Note
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-investment-management-11-tab" data-bs-toggle="pill" data-bs-target="#pills-investment-management-11" type="button" role="tab" aria-controls="pills-investment-management-11" aria-selected="false" @click="store.setDedXVAsTab()">
                Dedication & Acknowledgements
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-integration-tab" data-bs-toggle="pill" data-bs-target="#pills-integration" type="button" role="tab" aria-controls="pills-integration" aria-selected="false" @click="store.setChaptersXVAsTab()">
                Chapters
              </button>
            </li>
          </ul>
          <div class="tab-content mt-5" id="pills-tabContent-07">
            <div class="tab-pane fade show active" id="pills-trekking" role="tabpanel" aria-labelledby="pills-trekking-tab">
              <div class="row">
                <div class="col-lg-6">
                  <img class="img-fluid" src="/images/collections/xv/cover.jpeg" alt="Frith Hilton Collection XV" />
                  <hr class="my-5" />
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-analysis" role="tabpanel" aria-labelledby="pills-analysis-tab">
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <div v-html="store.pageResources().authorsNote" class="mt-4 me-4 ms-4"></div>
                  <hr class="my-5" />
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-investment-management-11" role="tabpanel">
              <div class="row">
                <div class="col-lg-6">
                  <h4 class="text-center">Dedication</h4>
                  <div v-html="store.pageResources().dedication" class="mt-4 me-4 ms-4"></div>
                </div>
                <div class="col-lg-5 mt-5">
                  <h4 class="text-center">Acknowledgements</h4>
                  <div v-html="store.pageResources().acknowledgements" class="mt-4 me-4 ms-4"></div>
                </div>
              </div>
              <hr class="my-5" />
            </div>
            <div class="tab-pane fade" id="pills-integration" role="tabpanel" aria-labelledby="pills-integration-tab">
              
              <div class="row justify-content-center" id="reading">
                <div class="col-lg-6">
                  
                  <hr class="my-5" />
                  <!--========== 
          Beginning of chapter titles ==========-->
                  <div v-for="(title, index) in
                      store.pageResources().chapterTitles" :key="index">
                    <div v-if="index !== 0 && store.getPageState() ==
                        'chapters'" @click="store.setPageState(index)" :id="index">
                      <!--===== Start of Title =====-->
                      <div class="mb-5 text-center">
                        <h2 class="col-4">
                          <span class="hedding-svg">{{store.pageResources().convertIndex(index)}}</span>
                        </h2>
                        <button class="btn btn-naked btn-icon-right" href="#!" v-effect="if (store.currentChapter ==
                            index ) $el.focus()"></button>
                        <h5 class="mt-3">{{title}}</h5>
                        <span v-show="store.currentChapter == index" class="title-separator"></span>
                      </div>
                      
                      <!--===== End of Title =====-->
                      <hr class="my-4" />
                    </div>
                  </div>
                  <!--========== 
          End of chapter titles ==========-->
                  <!--========== 
          Beginning of chapter content ==========-->
                  <div v-if="store.currentChapter !== 0 &&
                      store.getPageState() ==
                      'poetry'">
                    <!--===== Start of Title =====-->
                    <div class="mb-5 text-center">
                      <h2 class="col-4 fw-bold mb-4">
                        <span class="hedding-svg">{{store.pageResources().convertIndex(store.currentChapter)}}</span>
                      </h2>
                      <h5>{{store.chapterTitle}}</h5>
                      
                      <div v-html="store.getChapterContent()" class="mt-4 me-4 ms-4"></div>
                    </div>
                    <!--===== End of Title =====-->
                    <hr class="my-5" />
                    
                    <!--===== Go back  =====-->
                    <div class="col-lg-3 col-sm-6">
                      <p @click="store.goBack()" class="btn btn-naked-wrap go-back-btn">
                        <i class="feather icon-arrow-left"></i>
                        <span> Chapters </span>
                      </p>
                    </div>
                    <!--===== End Go back  =====-->
                  </div>
                  
                  <!--========== 
          End of chapter content ==========-->
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5 mb-5">
            <a id="ad2" href="#ad2">
              <img class="img-fluid" src="../../images/bg/bg5.jpg" alt="">
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
  <!--========== 
  Start of bottom page  ==========-->
  
  <section class="py-5 bg-pink-gradient">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h3 class="text-white" id="some-id">
            I'm here
            <u class="typer text-warning" data-words="writing,making music," data-delay="100" data-deletedelay="1000" style="color: black"></u>
            often.
          </h3>
        </div>
      </div>
    </div>
  </section>
  
  <!--========== 
  End of bottom page  ==========-->
  
  
  
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 position-relative mb-5 mb-sm-0">
          <div class="position-absolute top-0 start-0 slice-pt ps-5 ps-lg-8"></div>
        </div>
        <div class="col-lg-6">
        </div>
      </div>
    </div>
  </footer>
  
  <footer class="footer bg-black slice-pt">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4 offset-lg-2">
          <h2 class="text-white display-2 mb-4">
            <span class="typer text-white" id="some-id" data-words="Catch up!" data-delay="100">
            </span>
          </h2>
          
          <div class="social-icons icons-xl mt-5">
            <a class="icon text-white" href="https://youtube.com/@frithhilton17?si=8pEsa1wf1KxLNvBK" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
            <a class="icon text-white" href="https://www.tiktok.com/@frithhilton17" target="_blank">
              <i class="fab fa-tiktok"></i>
            </a>
            <a class="icon text-white" href="https://www.twitter.com/frithhilton17" target="_blank">
              <i class="fab fa-x-twitter"></i>
            </a>
            <a class="icon text-white" href="https://www.instagram.com/frithhilton17" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
      <hr class="mt-7" />
      <div class="row text-center">
        <div class="col-12">
          <div class="developer-footer mb-2">
            <a href="https://leondev.com.ng" target="_blank"><img src="/images/Leondev.png" alt="lEoNDɘv" width="80" height="80"></a>
          </div>
          <p class="text-white mt-3 mb-4">
            © <span id="getFullYear"></span>
            <span class="text-pink-gradient">Howard Frith Hilton</span>
          </p>
        </div>
      </div>
    </div>
  </footer>
  
  <!--========== 
  End of footer section ==========-->
  
  <!--========== 
        Start of back to top section ==========-->
  
  <div class="go-top">
    <p class="go-top-text">
      Scroll to top <i class="fas fa-long-arrow-alt-right ps-2"></i>
    </p>
  </div>
  
  <!--========== 
	End of back to top section ==========-->
  <div class="col-lg-3 col-sm-6">
    <p @click="window.location.href='../search.html'" class="btn btn-naked-wrap search-btn"> <i class="fas fa-search"></i> <span> search </span> </p>
  </div>
  <!--========== 
	Start of Javascript ==========-->
  
  <!--===== Global required js =====-->
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="../../js/jquery-3.6.0.min.js"></script>
  <script src="../../js/popper.min.js"></script>
  <script src="../../js/bootstrap/bootstrap.min.js"></script>
  
  <!--===== Global script: js libraries and plugins =====-->
  <script src="../../js/appear/jquery.appear.js"></script>
  <script src="../../js/swiper/swiper.min.js"></script>
  <script src="../../js/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="../../js/isotope/isotope.pkgd.min.js"></script>
  <script src="../../js/typer/typer.js"></script>
  <script src="../../js/firewall.js"></script>
  <script src="../../js/jarallax/jarallax.min.js"></script>
  <script src="../../js/mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numbered/1.1.0/index.min.js" integrity="sha512-UQKbSOyUPIxk4a5/TIcqKUfl2JX0b1Rgq16BgvZbIWa7g5g3Rl/RXzFJFt2iu9LzDUpqDbcaak2ifjW887SxPw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../../js/collection-XV.js"></script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId: "1292503991685432",
        autoLogAppEvents: true,
        xfbml: true,
        version: "v16.0",
      });
    };
  </script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  
  <!--===== Main theme script =====-->
  
  <script type="module">
    import {
      createApp,
      reactive
    } from "../../js/petite-vue.js";
    const store = reactive({
      IPAccess: false,
      checkLocation() { this.IPAccess = JSON.parse(localStorage.getItem('accessAllowed')); return this.IPAccess; },
      currentURL: "/published/poetry/collection-XV.html",
      staticPoemURL: "",
      poemURL: "",
      URLPoemID: 0,
      CopyURLText: "Copy URL",
      currentChapter: 0,
      goBackState: false,
      getCurrentChapter() {
        if (localStorage.getItem("XVCurrentChapter")) {
          this.currentChapter = localStorage.getItem("XVCurrentChapter");
        } else if (this.currentChapter == 0) {
          this.currentChapter = this.URLPoemID;
        } else {
          localStorage.removeItem("XVCurrentChapter");
        }
      },
      chapterTitle: "",
      getChapterContent() {
        const chapterTitle = this.pageResources().chapterTitles.at(
          this.currentChapter
        );
        this.generatePoemURL();
        this.chapterTitle = chapterTitle;
        const chapterContent = this.pageResources().chapters;
        return chapterContent.at(this.currentChapter);
      },
      initialPageState: {
        viewXV: "chapters",
      },
      pageState: localStorage.getItem("viewXV"),
      getPageState() {
        this.decodePoemURL();
        if (this.pageState == "chapters") {
          const state = "chapters";
          localStorage.removeItem("XVCurrentChapter");
          return state;
        } else if (this.pageState == "poetry") {
          this.decodePoemURL();
          this.getCurrentChapter();
          const state = "poetry";
          
          return state;
        } else {
          localStorage.setItem("viewXV", this.initialPageState.viewXV);
          const state = this.initialPageState.viewXV;
          return state;
        }
      },
      setPageState(index) {
        localStorage.setItem("viewXV", "poetry");
        location.href = "#reading";
        (this.pageState = localStorage.getItem("viewXV")),
        (this.currentChapter = index);
        localStorage.setItem("XVCurrentChapter", this.currentChapter);
      },
      goBack() {
        this.goBackState = true;
        localStorage.setItem("viewXV", "chapters");
        this.pageState = localStorage.getItem("viewXV");
        this.getPageState();
      },
      pageResources() {
        return {
          dedication: `<p class="text-center">To <strong style="color: #010521"> Rockstar<span class="fw-bold"> Lisa.</span>  </strong></p>`,
          acknowledgements: `<p>         The writing experience of every collection since its inception has been, simply put, a rush and a reward. I never thought I'd come this far so quickly, and it's all thanks to you, my cheerful readers.</p> <p>         I extend my deepest gratitude to the talented members of BLACKPINK - Jennie, Lisa, Rosé, and Jisoo - whose artistry and passion have been a constant source of inspiration.</p> <p>         This collection, in particular, was sparked by Lisa's captivating energy. Her spirit resonates throughout these pages.</p> <p>         Additionally, I would like to thank Cara Delevingne for being a magnetic force and an inspiration. Her confidence and creativity follow me into my next collection.</p><p>         Thank you all for being part of this journey.</p>`,
          authorsNote: [
            ` <img class="img-fluid" src="../../images/collections/xv/01.jpg" alt="">
            <p class="text-center fw-bold mt-1"> Lisa. </p>`,
          ],
          chapterTitles: [
            "0",
            "Patchwork",
            "She Could Be the Queen",
            "Summer Hotel Receipts",
            "If Mentioning",
            "Fifty-Two Weeks",
            "Bally Opted",
            "Heart Rhythm",
            "Our P Wave",
            "Aftertaste",
            "She's a Rockstar",
            "Sabali",
            "Halftime Affiche",
            "Hell Mate",
            "By the Hearth",
          ],
          chapters: [
            `0`,
            `<p>I haven't had much to do</p>
<p>since we gave up the marbles</p>
<p>when I'm asked to choose</p>
<p>playing hypothetical angles</p>
<p>I forget my attitudes</p>
<p>I tell them, like, pick me a fool</p>
<p>but the buds sit well and settle</p>
<p>too, they assume I've no lettuce</p>
<p>for in the landscape oomph is removed</p>
<p>and it's the rest to hop fast footed to</p>
<p>when I get my mind but in a hurtle</p>
<p>of nothing at all but thoughts soot</p>
<p>I see I'm mad, as I'm stuck rippled</p>
<p>I know well, and see the bigger good</p>
<p>I'm happy, appointed a cowlick statue.</p>`,
            `<p>Definitely worth a rethink</p>
<p>all my problems of mischief</p>
<p>so I took a banned degree</p>
<p>outside three hundred sixty</p>
<p>she was there on an ant hill</p>
<p>she'd no more on than the heat</p>
<p>spicy with no role in colony.</p>`,
            `<p>A long grief</p>
<p> </p>
<p>seating feelings</p>
<p>softly whispering</p>
<p>what the crevice sees</p>
<p> </p>
<p>a lime worries a twig</p>
<p>what hasn't it, sweet</p>
<p>sour, it says immersive</p>
<p>where no tongue leads</p>
<p>how meetings ours hid.</p>`,
            `<p>Seeing evil daily</p>
<p>never smells lately</p>
<p>amassing the amiss</p>
<p> </p>
<p>no request appeasing</p>
<p>if any asking</p>
<p>it seems evil has me</p>
<p> </p>
<p>so to hear isn't winning</p>
<p>how much as to read</p>
<p>isn't it to dream</p>
<p>we're ridding of visits</p>
<p>remaining flowery.</p>`,
            `<p>Nor is it my will</p>
<p>I'll have to in passing</p>
<p>get you up the hill</p>
<p>and whenever taken</p>
<p>by my shrewd shrill</p>
<p>calming, up, tilt it</p>
<p>it's as the season's green</p>
<p>to your nogging changing</p>
<p>it's hours clocking</p>
<p>a serpentine mourning</p>
<p>when the days repeat</p>
<p>yet better seizing grit</p>
<p>rewarding in remembering</p>
<p>is the hollow of memory</p>
<p>the awe in a new beginning.</p>`,
            `<p>It's kindergarten affairs once again</p>
<p>lessons for the boys to gain</p>
<p>why maim the girls, muting names</p>
<p> </p>
<p>solo, walking the percentage</p>
<p>I wonder my flying message</p>
<p>it's a helicopter, no, an aeroplane</p>
<p>I dare say it isn't any they say</p>
<p>my reports are to show their place</p>
<p> </p>
<p>my classes aren't what you mistake</p>
<p>it's rows and rows to maize</p>
<p>it's where matching minds olé.</p>`,
            `<p>A trifling quiver of faults</p>
<p>and a selling merchant spot</p>
<p> </p>
<p>for all that I've got</p>
<p>as ugly as sin, a price bump</p>
<p>a bow, arrow and smock</p>
<p> </p>
<p>still, you owe that you bought</p>
<p>aiming for a price cut</p>
<p> </p>
<p>so when everything is yours</p>
<p>all hearts dancing bigot</p>
<p>leave a change of new worth.</p>`,
            `<p>Even births have a date</p>
<p>like when we took our fates</p>
<p>and wove words to soul mates</p>
<p>marionettes hanging to marinate</p>
<p> </p>
<p>and do you think we'll fade</p>
<p>but with the crossing's end faint</p>
<p> </p>
<p>I couldn't hold an age</p>
<p>car borne, I sped through the days</p>
<p>from Nineveh with every parlay.</p>`,
            `<p>Timing isn't what it used to be</p>
<p>it seems African, as if afro wigged</p>
<p>a blown soup with thyme missing</p>
<p> </p>
<p>so to speak</p>
<p>the rails go on without the train in</p>
<p>of the goods in the gondola, a beet</p>
<p>but the chefs don't hold symphonies</p>
<p> </p>
<p>I waited, but you never got to me</p>
<p>while in, nothing in there was sweet</p>
<p>to enjoy your beeming to the culinary</p>
<p> </p>
<p>so exiting, I wasn't smiling</p>
<p>but we met, as I was to leave</p>
<p> </p>
<p>my girl, all of her thoughts within</p>
<p>but the pink on her flustered cheeks</p>
<p> </p>
<p>in that moment, as if time travelling</p>
<p>healing, I savoured my wine's finish.</p>`,
            `<p>Stretch the facts to a twist</p>
<p>in its midst is silly wit</p>
<p> </p>
<p>you couldn't wish it</p>
<p>not at least as if remembering</p>
<p> </p>
<p>mayday, was to get it cleaned</p>
<p>and we all felt up the scene</p>
<p>took it up like owning our visits</p>
<p> </p>
<p>mettle let it up, but who knew</p>
<p><i>waned and aiming anew.</i></p>`,
            `<p>Fetch for finessing</p>
<p>seasons stairs interesting</p>
<p>at which I impress</p>
<p><i>my Sesame street.</i></p>`,
            `<p>For a new face by halftime</p>
<p> </p>
<p>quarters past the highlight</p>
<p>down the orifice of fee line</p>
<p>a new woman buy</p>
<p> </p>
<p>where it's puerile</p>
<p>it's two in the crowd's smile.</p>`,
            `<p>If all there is, is my bedroom</p>
<p>the lights wouldn't as they spool</p>
<p>they would hunch at the roof</p>
<p>lunging punches at it a foot</p>
<p>for soon in witches' Sabbath spoof</p>
<p>else the stabbed heart's foot</p>
<p>what ends in a poof</p>
<p>when journey mercies lay in proof</p>
<p>from all of my friends' swoop</p>
<p> </p>
<p>fleeing away with hidden loot</p>
<p>showing mercy like Robin Hood</p>
<p>but never getting away any food</p>
<p>darkness fond at no combed book</p>
<p>I freeze them, weeping all of a bloom</p>
<p>and as a writer I find peace, my gloom.</p>`,
            `<p>When the goad takes a turn</p>
<p>the headpiece soars in gnaws</p>
<p>as if faming all it's to come upon</p>
<p> </p>
<p>your eyes were a recharge rut</p>
<p>by the white, the only wall plug</p>
<p>holding me to my salty thumbs</p>
<p>fair to space bars that hold fault</p>
<p> </p>
<p>your character pressed on a bond</p>
<p>how I could go on, sigh off in doff</p>
<p> </p>
<p>from Saturn to where, still sat on</p>
<p>I missed her in every ringing rock</p>
<p>now smoothing puckered papyrus</p>
<p> </p>
<p>for why, now, I'd found a freedom</p>
<p>tethering to you, roof remorsed</p>
<p> </p>
<p>it'd but unlocked her own location</p>
<p> </p>
<p>in a clearer séance, it'd say invitation.</p>`,
            
            
            
            
            
            
            
            
            
          ],
          convertIndex(prop) {
            var indexNumber = prop;
            var number = numbered.stringify(indexNumber);
            return number;
          },
        };
      },
      acceptCookieUse() {
        localStorage.setItem("cookieUse", true);
      },
      lastTabXV: "",
      coverTabXVIsActive: localStorage.getItem("coverTabXVIsActive"),
      authorTabXVIsActive: localStorage.getItem("authorTabXVIsActive"),
      dedTabXVIsActive: localStorage.getItem("dedTabXVIsActive"),
      chapterTabXVIsActive: localStorage.getItem("chapterTabXVIsActive"),
      navLink: true,
      setCoverXVAsTab() {
        this.lastTabXV = "Cover";
        localStorage.setItem("lastTabXV", this.lastTabXV);
        localStorage.setItem("coverTabXVIsActive", true);
        localStorage.setItem("authorTabXVIsActive", false);
        localStorage.setItem("dedTabXVIsActive", false);
        localStorage.setItem("chapterTabXVIsActive", false);
      },
      setAuthorXVAsTab() {
        this.lastTabXV = "Author";
        localStorage.setItem("lastTabXV", this.lastTabXV);
        localStorage.setItem("coverTabXVIsActive", false);
        localStorage.setItem("authorTabXVIsActive", true);
        localStorage.setItem("dedTabXVIsActive", false);
        localStorage.setItem("chapterTabXVIsActive", false);
      },
      setDedXVAsTab() {
        this.lastTabXV = "Dedication";
        localStorage.setItem("lastTabXV", this.lastTabXV);
        localStorage.setItem("coverTabXVIsActive", false);
        localStorage.setItem("authorTabXVIsActive", false);
        localStorage.setItem("dedTabXVIsActive", true);
        localStorage.setItem("chapterTabXVIsActive", false);
      },
      setChaptersXVAsTab() {
        this.lastTabXV = "Chapters";
        localStorage.setItem("lastTabXV", this.lastTabXV);
        localStorage.setItem("coverTabXVIsActive", false);
        localStorage.setItem("authorTabXVIsActive", false);
        localStorage.setItem("dedTabXVIsActive", false);
        localStorage.setItem("chapterTabXVIsActive", true);
      },
      shareToFacebook() {
        this.generateStaticPoemURL();
        console.log(this.generateStaticPoemURL());
        FB.ui({
            display: "popup",
            method: "share",
            href: this.staticPoemURL,
          },
          function(response) {}
        );
      },
      copyURL() {
        this.CopyURLText = "URL copied to clipboard";
        this.generateStaticPoemURL();
        navigator.clipboard.writeText(this.staticPoemURL);
        $("#CopyURLText").css("color", "green");
        $("#copyURLIcon").css("color", "green");
        setTimeout(() => {
          $("#CopyURLText").css("color", "#010521");
          $("#copyURLIcon").css("color", "#010521");
          this.CopyURLText = "Copy URL";
        }, 8000);
      },
      shareToWhatsApp() {
        this.generateStaticPoemURL();
        const linkToShare = "whatsapp://send?text=" + this.staticPoemURL;
        window.open(linkToShare, "_blank");
      },
      shareToTwitter() {
        return
      },
      loadBookmark() {
        var urlParams = new URLSearchParams(location.search);
      },
      generatePoemURL() {
        var domainName = window.location.origin;
        const queryToAppend =
          domainName +
          this.currentURL +
          "?typeIsPoem" +
          "&id=" +
          this.currentChapter;
        this.poemURL = queryToAppend;
      },
      changeTabToChapter() {
        localStorage.setItem("coverTabXVIsActive", false);
        localStorage.setItem("authorTabXVIsActive", false);
        localStorage.setItem("dedTabXVIsActive", false);
        localStorage.setItem("chapterTabXVIsActive", true);
        document.getElementById("pills-integration-tab").click();
      },
      decodePoemURL() {
        if (this.goBackState == true) {
          return;
        } else {
          var bookmarkURL = new URLSearchParams(location.search);
          var getPoemIdFromURL = bookmarkURL.get("id");
          if (bookmarkURL.has("typeIsPoem") && getPoemIdFromURL <= 38) {
            this.changeTabToChapter();
            localStorage.setItem("viewXV", "poetry");
            this.pageState = "poetry";
            this.URLPoemID = getPoemIdFromURL;
            this.currentChapter = this.URLPoemID;
            localStorage.setItem("XVCurrentChapter", this.currentChapter);
            this.goBackState = false;
          } else if (bookmarkURL.has("typeIsPoem") && getPoemIdFromURL > 38) {
            localStorage.setItem("viewXV", this.initialPageState.viewVI);
            window.location.href =
              window.location.origin + "/pages/not-found.html";
          } else {
            window.location.origin + "/pages/not-found.html";
          }
        }
      },
      generateStaticPoemURL() {
        var domainName = window.location.origin;
        const convertPoemID = this.pageResources().convertIndex(
          this.currentChapter
        );
        var shareURL =
          domainName +
          "/pages/Hilton/collections/iv/" +
          convertPoemID +
          ".html";
        this.staticPoemURL = shareURL;
      },
      goToPublished() {
        window.location.href = '../books.html';
      }
      
    });
    
    createApp({
      store,
    }).mount("#ctrlArea");
  </script>
  <!--========== 
	End of Javascript ==========-->
</body>

</html>