 <!DOCTYPE html>
 <html lang="en">
 
 <head>
   <!--===== Required meta tags =====-->
   <link rel="canonical" href="https://www.frithhilton.com.ng/pages/upcoming.html">
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="title" content="Upcoming Poetry by Howard Frith Hilton - Frith Hilton">
   <meta name="description" content="Explore upcoming poetry by Howard Frith Hilton. Get a sneak peek into new poetic works set to be published soon.">
   <meta name="keywords" content="upcoming poetry, Howard Frith Hilton, Frith Hilton, new poems, poetry preview, poetry collection">
   <meta name="robots" content="index, follow">
   <meta name="author" content="Howard Frith Hilton">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="UTF-8">
   <meta property="og:title" content="Upcoming Poetry by Howard Frith Hilton">
   <meta property="og:description" content="Explore upcoming poetry by Howard Frith Hilton. Get a sneak peek into new poetic works set to be published soon.">
   <meta property="og:url" content="https://www.frithhilton.com.ng/pages/upcoming.html">
   <meta property="og:type" content="website">
   <meta property="og:image" content="https://www.frithhilton.com.ng/images/upcoming/upcomingPoetry.jpg">
   <meta property="og:site_name" content="Frith Hilton">
   
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="Upcoming Poetry by Howard Frith Hilton">
   <meta name="twitter:description" content="Get ready for new poetry by Howard Frith Hilton to be Published, read it here first.">
   
   <meta name="twitter:image" content="https://www.frithhilton.com.ng/images/upcoming/upcomingPoetry.jpg">
   <meta name="twitter:site" content="@frithhilton17">
   
   <!--===== Favicon =====-->
   <link rel="shortcut icon" href="../images/favicon.png" />
   
   <!--===== Google fonts =====-->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Jost:wght@300;400;500;600;700;800;900&display=swap" />
   <link rel="preconnect" href="https://fonts.googleapis.com" />
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet" />
   <!-- font-awesome-icons -->
   <script src="https://kit.fontawesome.com/c7fbb1b458.js" crossorigin="anonymous"></script>
   
   <!--===== Global bootstrap required css =====-->
   <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css" />
   <!--===== Global styles including: Font Icons, Plugins, etc =====-->
   <link rel="stylesheet" type="text/css" href="/../css/font-awesome/all.min.css" />
   <link rel="stylesheet" href="../css/feather/iconfont.css" />
   <link rel="stylesheet" href="../css/pe-icon-stroke/Pe-icon-7-stroke.css" />
   <link rel="stylesheet" href="../css/simple-line-icons/simple-line-icons.css" />
   <link rel="stylesheet" href="../css/themify-icons/themify-icons.css" />
   <link rel="stylesheet" href="../css/pe-icon-stroke/Pe-icon-7-stroke.css" />
   <link rel="stylesheet" href="../css/swiper/swiper.min.css" />
   <link rel="stylesheet" href="../css/magnific-popup/magnific-popup.css" />
   <!--===== Main theme css =====-->
   <link rel="stylesheet" href="../css/style.css" />
   <style>
     [v-cloak] {
       display: none;
     }
   </style>
   <style>
     .popup-container {
       display: none;
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(0, 0, 0, 0.7);
       z-index: 9999;
     }
     
     .image-container {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       text-align: center;
     }
     
     .image-container img {
       width: 85vw;
       /* Increased width */
       height: auto;
       /* Maintain aspect ratio */
       border-radius: 10px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
       object-fit: contain;
       /* Ensure image fits within container */
     }
     
     .spaceOutText {
       letter-spacing: 4px;
     }
   </style>
 </head>
 
 <body class="stokes-wrapper" id="ctrlArea" v-cloak>
   <!--========== 
        Start of loader ==========-->
   
   <div class="template-loader">
     <div class="loaderCenter">
       <div class="book">
         <div class="book__pg-shadow"></div>
         <div class="book__pg"></div>
         <div class="book__pg book__pg--2"></div>
         <div class="book__pg book__pg--3"></div>
         <div class="book__pg book__pg--4"></div>
         <div class="book__pg book__pg--5"></div>
       </div>
     </div>
   </div>
   
   <!--========== 
        End of loader ==========-->
   
   <!--========== 
    Start of  cookie modal notification section ==========-->
   <div class="modal-subscribe">
     <!-- Modal -->
     <div class="modal fade" data-bs-backdrop="static" id="myModal" tabindex="-1" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-body p-0 bg-secondary rounded">
             <div class="p-5 text-center">
               <img class="img-fluid px-5" src="../images/svg/cookie.svg" alt="Cookies Policy Image" />
               <h3>Cookies</h3>
               <p class="text-dark"><b>Hilton</b> uses cookies to enhance user experience</p>
               <a href="cookies.html" class="text-primary-gradient fw-bold">Our policy</a>
               <div class="d-grid mt-5">
                 <button type="button" class="btn btn-white rounded" data-bs-dismiss="modal" @click="store.acceptCookieUse()">Accept</button>
                 <p class="text-dark mt-4">
                   Coupled with
                   <svg class="logo" viewBox="0 0 128 128" width="24" height="24" data-v-53ccc107="">
                     <path fill="#42b883" d="M78.8,10L64,35.4L49.2,10H0l64,110l64-110C128,10,78.8,10,78.8,10z" data-v-53ccc107=""></path>
                     <path fill="#35495e" d="M78.8,10L64,35.4L49.2,10H25.6L64,76l38.4-66H78.8z" data-v-53ccc107=""></path>
                   </svg>
                   <a href="https://github.com/vuejs/petite-vue" target="_blank" style="color: #42b883;"><b>petite-vue</b></a>
                 </p>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!--========== 
          End of cookie modal notification section ==========-->
   <!--==========-->
   <!--==========-->
   
   <!--========== 
        Start of Header Section ==========-->
   
   <header class="header">
     <!--===== Start of navbar =====-->
     <nav class="navbar navbar-light navbar-expand-lg navbar-default">
       <div class="container-fluid">
         <!--===== Start of logo =====-->
         <a class="navbar-brand" href="../index.html"><img class="logo" src="../images/logo.png" alt="Frith Hilton Logo" /></a>
         <!--===== End of logo =====-->
         
         <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
           <span class="icon-bar top-bar mt-0"></span>
           <span class="icon-bar middle-bar"></span>
           <span class="icon-bar bottom-bar"></span>
         </button>
         
         <!--===== Start of nav =====-->
         <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
           <ul class="navbar-nav">
             <li class="nav-item">
               <a class="nav-link" href="../index.html"><span class="text-line"> Home </span></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="../published/books.html">
                 <span class="text-line"> Publications</span>
               </a>
             </li>
             
             <li class="nav-item active">
               <a class="nav-link" href="upcoming.html"><span class="text-line"> Upcoming Poetry</span></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="freshPlayer.html"><span class="text-line"> Fresh Player </span></a>
             </li>
             
             <li class="nav-item">
               <a class="nav-link" href="who-is-frith-hilton.html"><span class="text-line"> Who is Frith Hilton? </span></a>
             </li>
             
             <li class="nav-item">
               <a class="nav-link" href="../cookies.html"><span class="text-line"> Cookies Policy </span></a>
             </li>
           </ul>
         </div>
         <div class="navbar-icons list-unstyled mb-0 ms-auto"></div>
         <!--===== End of nav =====-->
       </div>
     </nav>
     <!--===== End of navbar =====-->
   </header>
   
   <!--========== 
        End of header ==========-->
   
   <!--========== 
        End of Sidebar ==========-->
   
   <!--========== 
  Start of Timeline section ==========-->
   
   <section class="slice-ptb">
     <div class="container">
       <div class="row justify-content-center">
         <div class="col-lg-6">
           <div class="mb-5">
             <a id="designer" href="https://leondev.com.ng" target="_blank">
               <img class="img-fluid" src="../images/ads/designedBySamsungS8.png" alt="" />
             </a>
           </div>
           <div class="mb-5">
             <div id="ad-top"></div>
           </div>
           
           <div class="mb-5">
             <a target="_blank" href="#">
               <img class="img-fluid justify-content-center" src="../images/ads/KylieJuly4.gif" alt="Kylie Cosmetics" />
             </a>
           </div>
           
           
           <!--===== Start of  Upcoming timeline =====-->
           <div class="mt-5 mb-5" id="reading">
             <h3 class="mt-3 mb-4 text-center text-nightswan-gradient fw-bold spaceOutText">West to West</h3>
             <h4 class="ms-3 text-pink-gradient">upcoming poetry</h4>
           </div>
           <div class="feature-timeline ms-5">
             <div v-for="poem in store.getUpcomingPoems()" :key="poem.id">
               <div class="d-flex mt-5 mb-5" v-if="store.getPageState() == 'upcomingPoemTitles'" @click="store.setPageState(poem.id)">
                 <span><i class="feather icon-circle fa-2x text-pink-gradient"></i><span class="h-50vh text-pink-gradient">{{poem.id}}</span></span>
                 <div class="ms-4">
                   <button class="btn btn-naked btn-icon-right" href="#!" v-effect="if (store.currentPoemId == poem.id) $el.focus()"></button>
                   <h5 class="ls-1">{{poem.title}}</h5>
                   <p>{{poem.date}}</p>
                 </div>
               </div>
             </div>
             <div v-else></div>
             <!--===== End of Upcoming timeline =====-->
           </div>
           <!-- === Beginning of poetry content ==========-->
           <div v-if="store.getPageState() ==
              'currentPoem'">
             <!--===== Start of Title =====-->
             <div class="mb-5 text-center">
               <div class="mb-5 mt-5">
                 <h5>{{store.getCurrentPoem().title}}</h5>
               </div>
               <div v-html="store.getCurrentPoem().content" class="mt-4 me-4 ms-4 mb-5"></div>
               <span class="bg-warning-soft-01 px-4 py-2 text-dark rounded">{{store.getCurrentPoem().date}}</span>
             </div>
             
             <hr class="my-5" />
             
             <div class="col-lg-3 col-sm-6">
               <p @click="store.goBack()" class="btn btn-naked-wrap go-back-btn">
                 <i class="feather icon-arrow-left"></i>
                 <span> upcoming . . . </span>
               </p>
             </div>
           </div>
           
           <div class="mb-5">
             <div id="ad-middle"></div>
           </div>
           
           <div class="mb-5">
             <div id="ad-bottom"></div>
           </div>
           
           
           
           <!--========== 
End of poetry content ==========-->
         </div>
       </div>
     </div>
   </section>
   
   <!--========== 
    End of Timeline section ==========-->
   
   <!--========== 
  Start of bottom page  ==========-->
   
   <section class="py-5 bg-pink-gradient">
     <div class="container">
       <div class="row justify-content-center">
         <div class="col-12 text-center">
           <h3 class="text-white" id="some-id">
             I'm here
             <u class="typer text-warning" data-words="writing,making music," data-delay="100" data-deletedelay="1000" style="color: black;"></u>
             often.
           </h3>
         </div>
       </div>
     </div>
   </section>
   
   <!--========== 
  End of bottom page  ==========-->
   
   
   <!--========== 
  Start of footer section ==========-->
   
   <footer class="footer">
     <div class="container">
       <div class="row">
         <div class="col-lg-6 position-relative mb-5 mb-sm-0">
           <div class="position-absolute top-0 start-0 slice-pt ps-5 ps-lg-8"></div>
         </div>
         <div class="col-lg-6">
         </div>
       </div>
     </div>
   </footer>
   
   <footer class="footer bg-black slice-pt">
     <div class="container">
       <div class="row">
         <div class="col-sm-6 col-lg-4 offset-lg-2">
           <h2 class="text-white display-2 mb-4">
             <span class="typer text-white" id="some-id" data-words="Catch up!" data-delay="100"> </span>
           </h2>
           
           <div class="social-icons icons-xl mt-5">
             <a class="icon text-white" href="https://youtube.com/@frithhilton17?si=8pEsa1wf1KxLNvBK" target="_blank">
               <i class="fab fa-youtube"></i>
             </a>
             <a class="icon text-white" href="https://www.tiktok.com/@frithhilton17" target="_blank">
               <i class="fab fa-tiktok"></i>
             </a>
             <a class="icon text-white" href="https://www.twitter.com/frithhilton17" target="_blank">
               <i class="fab fa-x-twitter"></i>
             </a>
             <a class="icon text-white" href="https://www.instagram.com/frithhilton17" target="_blank">
               <i class="fab fa-instagram"></i>
             </a>
           </div>
         </div>
       </div>
       <hr class="mt-7" />
       <div class="row text-center">
         <div class="col-12">
           <div class="developer-footer mb-2">
             <a href="http://leondev.com.ng" target="_blank"><img src="/images/Leondev.png" alt="lEoNDɘv" width="80" height="80" /></a>
           </div>
           <p class="text-white mt-3 mb-4">
             © <span id="getFullYear"></span>
             <span class="text-pink-gradient">Howard Frith Hilton</span>
           </p>
         </div>
       </div>
     </div>
   </footer>
   
   <!--========== 
  End of footer section ==========-->
   
   <!--========== 
        Start of back to top section ==========-->
   
   <div class="go-top">
     <p class="go-top-text">Scroll to top <i class="fas fa-long-arrow-alt-right ps-2"></i></p>
   </div>
   
   <!--========== 
        End of back to top section ==========-->
   <div class="col-lg-3 col-sm-6">
     <p @click="window.location.href='../published/search.html'" class="btn btn-naked-wrap search-btn"> <i class="fas fa-search"></i> <span> search </span> </p>
   </div>
   
   
   <!-- Popup container -->
   <div class="popup-container" id="popup-container">
     <!-- Image container -->
     <div id="image-container" class="image-container">
       <img src="../../images/ads/skimsJune27.gif" alt="Roberto Cavalli X Skims" />
     </div>
   </div>
   
   <!-- Popup container -->
   <div class="popup-container" id="popup-container-vii">
     <!-- Image container -->
     <div id="image-container-vii" class="image-container">
       <img src="../../images/ads/VersaceAd1.gif" alt="Versace" />
     </div>
   </div>
   
   <div class="popup-container" id="popup-container-iii">
     <!-- Image container -->
     <div id="image-container-iii" class="image-container">
       <img src="../../images/ads/slipperySoapAd1.gif" alt="Slippery Soap" />
     </div>
   </div>
   
   <div class="popup-container" id="popup-container-iv">
     <!-- Image container -->
     <div id="image-container-iv" class="image-container">
       <img src="../../images/ads/cosmic.gif" alt="Popup Image iv" />
     </div>
   </div>
   
   <div class="popup-container" id="popup-container-v">
     <!-- Image container -->
     <div id="image-container-v" class="image-container">
       <img src="../../images/ads/KHYAdMay30.gif" alt="Popup Image v" />
     </div>
   </div>
   
   <div class="popup-container" id="popup-container-vi">
     <!-- Image container -->
     <div id="image-container-vi" class="image-container">
       <img src="../../images/ads/skims.gif" alt="Popup Image vi" />
     </div>
   </div>
   
   <div class="popup-container" id="popup-container-ii">
     <!-- Image container -->
     <div id="image-container-ii" class="image-container">
       <img src="../../images/ads/xokhloe.gif" alt="Popup Image ii" />
     </div>
   </div>
   
   <!--========== 
        Start of Javascript ==========-->
   
   <!--===== Global required js =====-->
   <script src="../js/jquery-3.6.0.min.js"></script>
   <script src="../js/popper.min.js"></script>
   <script src="../js/bootstrap/bootstrap.min.js"></script>
   
   <!--===== Global script: js libraries and plugins =====-->
   <script src="../js/appear/jquery.appear.js"></script>
   <script src="../js/swiper/swiper.min.js"></script>
   <script src="../js/magnific-popup/jquery.magnific-popup.min.js"></script>
   <script src="../js/isotope/isotope.pkgd.min.js"></script>
   <script src="../js/typer/typer.js"></script>
   <script src="../js/jarallax/jarallax.min.js"></script>
   <script src="../js/mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/numbered/1.1.0/index.min.js" integrity="sha512-UQKbSOyUPIxk4a5/TIcqKUfl2JX0b1Rgq16BgvZbIWa7g5g3Rl/RXzFJFt2iu9LzDUpqDbcaak2ifjW887SxPw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <!--===== Main theme script =====-->
   <script src="../js/functions.js"></script>
   <script src="../js/siteAds.js"></script>
   <script src="../js/upcomingPageAds.js"></script>
   <script>
     $(document).ready(function() {
       // Function to check if it's the first load in the hour
       function isFirstLoadInHour() {
         const currentTime = new Date().getTime();
         const storedTime = localStorage.getItem("popupLoadTime");
         
         if (!storedTime || currentTime - storedTime >= 0) {
           // 0ms = 0 minutes
           localStorage.setItem("popupLoadTime", currentTime);
           return true;
         }
         
         return false;
       }
       
       // Open popup on first load in the hour with 5-second delay
       if (isFirstLoadInHour()) {
         setTimeout(function() {
           $("#popup-container").fadeIn();
         }, 5000); // 5000ms = 5 seconds
       }
       
       // Close popup on close button click, escape key press, or outside click
       $("#close-btn").on("click", function() {
         $("#popup-container").fadeOut();
       });
       
       $(document).keyup(function(e) {
         if (e.key === "Escape") {
           $("#popup-container").fadeOut();
         }
       });
       
       // Close popup when clicking outside the image
       $("#popup-container").on("click", function(e) {
         if ($(e.target).is("#popup-container") && !$(e.target).closest(".image-container").length) {
           $(this).fadeOut();
         }
       });
       
       $("#popup-container-ii").on("click", function(e) {
         if ($(e.target).is("#popup-container-ii") && !$(e.target).closest(".image-container").length) {
           $(this).fadeOut();
         }
       });
       
       $("#popup-container-iii").on("click", function(e) {
         if ($(e.target).is("#popup-container-iii") && !$(e.target).closest(".image-container").length) {
           $(this).fadeOut();
         }
       });
       
       $("#popup-container-iv").on("click", function(e) {
         if ($(e.target).is("#popup-container-iv") && !$(e.target).closest(".image-container").length) {
           $(this).fadeOut();
         }
       });
       
       $("#popup-container-v").on("click", function(e) {
         if ($(e.target).is("#popup-container-v") && !$(e.target).closest(".image-container").length) {
           $(this).fadeOut();
         }
       });
       
       $("#popup-container-vi").on("click", function(e) {
         if ($(e.target).is("#popup-container-vi") && !$(e.target).closest(".image-container").length) {
           $(this).fadeOut();
         }
       });
       
       $("#popup-container-vii").on("click", function(e) {
         if ($(e.target).is("#popup-container-vii") && !$(e.target).closest(".image-container").length) {
           $(this).fadeOut();
         }
       });
       
       // Make image clickable
       $("#image-container").on("click", function() {
         // Replace with your desired action
         window.open("https://skims.com/en-ng/pages/roberto-cavalli-x-skims?utm_source=instagram&utm_medium=igstories&utm_campaign=roberto-cavalli&fbclid=PAZXh0bgNhZW0CMTEAAafSsryLw_RlEDvBdSS6e52cYrjBbaZ7nMCFB7kx0sso8FW4wIwQvr_U7PXPdA_aem_2Oe8Q44Fr9m2pD4PRkiR-w", "_blank");
       });
       
       $("#image-container-vii").on("click", function() {
         // Replace with your desired action
         window.open("https://www.versace.com/sg/en/women/accessories/watches/versace-reveal-watch/PVE0C002-P0025_PNUL.html", "_blank");
       });
       
       $("#image-container-iii").on("click", function() {
         // Replace with your desired action
         window.open("https://www.slipperysoap.com/", "_blank");
       });
       
       $("#image-container-iv").on("click", function() {
         // Replace with your desired action
         window.open("https://www.ulta.com/p/cosmic-kylie-jenner-eau-de-parfum-pimprod2044205", "_blank");
       });
       
       $("#image-container-v").on("click", function() {
         // Replace with your desired action
         window.open("https://www.khy.com/collections/dilara?fbclid=PAZXh0bgNhZW0CMTEAAacXBqnJGMqzoo-YOYVo5CAWv1HgZESXLP8msTx3ZZBbopvd01gmGOwBipn93g_aem_O4JPzTAESiUmHyWhxFIIfg", "_blank");
       });
       $("#image-container-vi").on("click", function() {
         // Replace with your desired action
         window.open("https://www.skims.com/", "_blank");
       });
       
       $("#image-container-ii").on("click", function() {
         // Replace with your desired action
         window.open("https://www.ulta.com/p/xo-khloe-pimprod2049077?sku=2632566&fbclid=PAZXh0bgNhZW0CMTEAAaZVXM4Lkj92LaOM2GEyeMxVRAlahdOYqvDPGzl8R2-Jsf758_E9PY8hyC8_aem__mk4AnSGz28b8amcS9xKDg", "_blank");
       });
     });
   </script>
   
   <script>
     window.fbAsyncInit = function() {
       FB.init({
         appId: "1292503991685432",
         autoLogAppEvents: true,
         xfbml: true,
         version: "v16.0",
       });
     };
   </script>
   <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
   <script type="module">
     import {
       createApp,
       reactive
     } from "../js/petite-vue.js";
     const store = reactive({
       currentURL: "/pages/upcoming.html",
       staticPoemURL: "",
       poemURL: "",
       URLPoemID: 0,
       CopyURLText: "Copy URL",
       goBackState: false,
       currentPoemId: 0,
       chapterClickNo: 0,
       
       getCurrentPoemView() {
         if (localStorage.getItem("currentPoemId")) {
           this.currentPoemId = localStorage.getItem("currentPoemId");
         } else {
           localStorage.removeItem("currentPoemId");
         }
       },
       initialPageState: {
         viewii: "upcomingPoemTitles",
       },
       pageState: localStorage.getItem("viewii"),
       getPageState() {
         if (this.pageState == "upcomingPoemTitles") {
           const state = "upcomingPoemTitles";
           localStorage.removeItem("currentPoemId");
           return state;
         } else if (this.pageState == "currentPoem") {
           this.getCurrentPoemView();
           const state = "currentPoem";
           return state;
         } else {
           localStorage.setItem("viewii", this.initialPageState.viewii);
           const state = this.initialPageState.viewii;
           return state;
         }
       },
       setPageState(index) {
         localStorage.setItem("viewii", "currentPoem");
         (this.pageState = localStorage.getItem("viewii")), (location.href = "#reading");
         this.currentPoemId = index;
         localStorage.setItem("currentPoemId", this.currentPoemId);
         this.chapterClickNo++;
         console.log(this.chapterClickNo);
         if (this.chapterClickNo == 1) {
           $("#popup-container-iii").fadeIn();
         }
         if (this.chapterClickNo == 2) {
           $("#popup-container-v").fadeIn();
         }
         if (this.chapterClickNo == 3) {
           $("#popup-container").fadeIn();
         }
         if (this.chapterClickNo == 4) {
           $("#popup-container-iv").fadeIn();
         }
         if (this.chapterClickNo == 5) {
           $("#popup-container-ii").fadeIn();
         }
         if (this.chapterClickNo == 6) {
           $("#popup-container-vi").fadeIn();
         }
         if (this.chapterClickNo == 7) {
           $("#popup-container-vii").fadeIn();
           this.chapterClickNo = 0;
         }
       },
       goBack() {
         localStorage.setItem("viewii", "upcomingPoemTitles");
         this.pageState = localStorage.getItem("viewii");
         this.getPageState();
       },
       pageResources() {
         return {
           upcomingPoems: [
             {
               id: 1,
               title: "I'm quick to sleep",
               content: `<p>Now I lay me down to sleep,</p>
                        <p>I pray thee, Lord, my soul to keep;</p>
                        <p>to smear my dreams with breeze</p>
                        <p>make of my morning a prince movie</p>
                        <p>where mirth flows in his breathing. </p> `,
               date: "Friday, July 4",
               poetryAudio: "./upcoming/audio/1.mp3",
               poetryJson: "./upcoming/json/1.json",
             },
             
             
             
             
             
             
             
             
             
           ],
           
           convertIndex(prop) {
             var indexNumber = prop;
             console.log(indexNumber);
             var number = numbered.stringify(indexNumber);
             return number;
           },
         };
       },
       getUpcomingPoems() {
         return this.pageResources().upcomingPoems.reverse();
       },
       getCurrentPoem() {
         var theValue = localStorage.getItem("currentPoemId");
         const result = this.pageResources().upcomingPoems.find(({ id }) => id == theValue);
         return result;
       },
       acceptCookieUse() {
         localStorage.setItem("cookieUse", true);
       },
       generatePoemURL() {
         var domainName = window.location.origin;
         const queryToAppend = domainName + this.currentURL + "?typeIsUpcomingPoem" + "&id=" + this.currentPoemId;
         this.poemURL = queryToAppend;
       },
       generateStaticPoemURL() {
         var domainName = window.location.origin;
         const convertPoemID = this.pageResources().convertIndex(this.currentPoemId);
         var shareURL = domainName + "/pages/Hilton/upcoming/season/one/" + convertPoemID + ".html";
         this.staticPoemURL = shareURL;
       },
       decodePoemURL() {
         var bookmarkURL = new URLSearchParams(location.search);
         var getPoemIdFromURL = bookmarkURL.get("id");
         if (bookmarkURL.has("typeIsUpcomingPoem") && getPoemIdFromURL <= this.pageResources().upcomingPoems.length) {
           localStorage.setItem("viewii", "currentPoem");
           this.pageState = "currentPoem";
           this.URLPoemID = getPoemIdFromURL;
           this.currentPoemId = this.URLPoemID;
           localStorage.setItem("currentPoemId", this.currentPoemId);
           // this.goBackState = false;
         } else if (bookmarkURL.has("typeIsUpcomingPoem") && getPoemIdFromURL > this.pageResources().upcomingPoems.length) {
           localStorage.setItem("viewii", this.initialPageState.view);
           window.location.href = window.location.origin + "/pages/not-found.html";
         } else {
           window.location.origin + "/pages/not-found.html";
         }
       },
       copyURL() {
         this.CopyURLText = "URL copied to clipboard";
         this.generateStaticPoemURL();
         navigator.clipboard.writeText(this.staticPoemURL);
         $("#CopyURLText").css("color", "green");
         $("#copyURLIcon").css("color", "green");
         setTimeout(() => {
           $("#CopyURLText").css("color", "#010521");
           $("#copyURLIcon").css("color", "#010521");
           this.CopyURLText = "Copy URL";
         }, 8000);
       },
       shareToWhatsApp() {
         this.generateStaticPoemURL();
         const linkToShare = "whatsapp://send?text=" + this.staticPoemURL;
         window.open(linkToShare, "_blank");
       },
       shareToFacebook() {
         this.generateStaticPoemURL();
         console.log(this.generateStaticPoemURL());
         FB.ui(
           {
             display: "popup",
             method: "share",
             href: this.staticPoemURL,
           },
           function(response) {}
         );
       },
       goToPublished() {
         window.location.href = "../published/books.html";
       },
     });
     createApp({
       store,
     }).mount("#ctrlArea");
   </script>
   <script>
     const accessAllowed = JSON.parse(localStorage.getItem("accessAllowed"));
     if (!accessAllowed || accessAllowed !== true) {
       //window.location.href = '../published/books.html'; // replace with your desired redirect page
     }
   </script>
   <script src="../js/firewall.js"></script>
   <!--========== 
        End of Javascript ==========-->
 </body>
 
 </html>