<!DOCTYPE html>
<html lang="en">

<head>
<script>
    function getQueryParam(param) {
        const urlParams = new URLSearchParams(window.location.search);

        return urlParams.get(param);
    }

    /**

 * Run the query parameter extraction on page load and update the page content.

 */

    function runOnPageLoad() {
        const queryValue = getQueryParam("query");

        if (queryValue !== null) {
            localStorage.setItem("viewX", "poetry");

            localStorage.setItem("XCurrentChapter", queryValue);

            console.log("Query parameter value:", queryValue); // You can replace this line with any other action

            // Update the page content based on the query parameter value

					localStorage.setItem("coverTabXIsActive", false);
					localStorage.setItem("authorTabXIsActive", false);
					localStorage.setItem("dedTabXIsActive", false);
					localStorage.setItem("chapterTabXIsActive", true);

            document.addEventListener("DOMContentLoaded", function () {
                var integrationTab = document.getElementById("pills-integration-tab");

                if (integrationTab) {
                    integrationTab.click();
                } else {
                    console.error("Element with ID 'pills-integration-tab' not found.");
                }
            });
        }
    }

    runOnPageLoad();
</script>
  
  <!--===== Required meta tags =====-->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="Howard Frith Hilton" />
  <meta name="description" content="Frith Hilton Collection X" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:url"
    content="" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Frith Hilton Collection X" />
  <meta property="og:description" content="Frith Hilton Collection X" />
  <meta property="og:image"
    content="" />

  <!--===== Title =====-->
  <title>Frith Hilton Collection X </title>

  <!--===== Favicon =====-->
  <link rel="shortcut icon" href="../../images/favicon.png" />

  <!--===== Google fonts =====-->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Jost:wght@300;400;500;600;700;800;900&display=swap" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet" />
 <!-- font-awesome-icons -->
 <script src="https://kit.fontawesome.com/c7fbb1b458.js" crossorigin="anonymous"></script>  

  <!--===== Global bootstrap required css =====-->
  <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css" />
  <!--===== Global styles including: Font Icons, Plugins, etc =====-->
  <link rel="stylesheet" type="text/css" href="../../css/font-awesome/all.min.css" />
  <link rel="stylesheet" href="../../css/feather/iconfont.css" />
  <link rel="stylesheet" href="../../css/pe-icon-stroke/Pe-icon-7-stroke.css" />
  <link rel="stylesheet" href="../../css/simple-line-icons/simple-line-icons.css" />
  <link rel="stylesheet" href="../../css/themify-icons/themify-icons.css" />
  <link rel="stylesheet" href="../../css/pe-icon-stroke/Pe-icon-7-stroke.css" />
  <link rel="stylesheet" href="../../css/swiper/swiper.min.css" />
  <link rel="stylesheet" href="../../css/magnific-popup/magnific-popup.css" />
  <!--===== Main theme css =====-->
  <link rel="stylesheet" href="../../css/style.css" />

</head>

  <body class="stokes-wrapper" id="ctrlArea" v-cloak>
    <!--========== 
	Start of loader ==========-->

  <div class="template-loader">
    <div class="loaderCenter">
      <div class="book">
        <div class="book__pg-shadow"></div>
        <div class="book__pg"></div>
        <div class="book__pg book__pg--2"></div>
        <div class="book__pg book__pg--3"></div>
        <div class="book__pg book__pg--4"></div>
        <div class="book__pg book__pg--5"></div>
      </div>
    </div>
  </div>

    <!--========== 
	End of loader ==========-->

    <!--========== 
    Start of  cookie modal notification section ==========-->
    <div class="modal-subscribe">
      <!-- Modal -->
      <div
        class="modal fade"
        data-bs-backdrop="static"
        id="myModal"
        tabindex="-1"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body p-0 bg-secondary rounded">
              <div class="p-5 text-center">
                <img
                  class="img-fluid px-5"
                  src="/images/svg/cookie.svg"
                  alt=""
                />
                <h3>Cookies</h3>
                <p class="text-dark">
                  <b>Hilton</b> uses cookies to enhance user experience
                </p>
                <a href="/cookies.html" class="text-primary-gradient fw-bold"
                  >Our policy</a
                >
                <div class="d-grid mt-5">
                  <button
                    type="button"
                    class="btn btn-white rounded"
                    data-bs-dismiss="modal"
                    @click="store.acceptCookieUse()"
                  >
                    Accept
                  </button>
                  <p class="text-dark mt-4">
                    Coupled with
                    <svg
                      class="logo"
                      viewBox="0 0 128 128"
                      width="24"
                      height="24"
                      data-v-53ccc107=""
                    >
                      <path
                        fill="#42b883"
                        d="M78.8,10L64,35.4L49.2,10H0l64,110l64-110C128,10,78.8,10,78.8,10z"
                        data-v-53ccc107=""
                      ></path>
                      <path
                        fill="#35495e"
                        d="M78.8,10L64,35.4L49.2,10H25.6L64,76l38.4-66H78.8z"
                        data-v-53ccc107=""
                      ></path>
                    </svg>
                    <a
                      href="https://github.com/vuejs/petite-vue"
                      target="_blank"
                      style="color: #42b883"
                      ><b>petite-vue</b></a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--========== 
          End of cookie modal notification section ==========-->
    <!--==========-->





  <header class="header">
    <!--===== Start of navbar =====-->
    <nav class="navbar navbar-light navbar-expand-lg navbar-default">
      <div class="container-fluid">
        <!--===== Start of logo =====-->
        <a class="navbar-brand" href="/"><img class="logo" src="/images/logo.png" alt="Frith Hilton Logo" /></a>
        <!--===== End of logo =====-->

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="icon-bar top-bar mt-0"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>

        <!--===== Start of nav =====-->
        <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/"><span class="text-line"> Home </span></a>
            </li>                       
            <li class="nav-item dropdown active">
              <a @click="store.goToPublished" class="nav-link dropdown-toggle" href="#" id="navbar-pages" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="text-line"> Publications</span>
              </a>

              <!--<ul class="dropdown-menu" aria-labelledby="navbar-pages">
                <div class="mb-3 mt-3">
                  <a href="#">
                    Frith Hilton Collections
                  </a>
                </div>

                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections I — III </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-I.html"><span class="text-line">
                          Collection I
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-II.html"><span class="text-line">
                          Collection II
                        </span></a>
                    </li>
                    <li class="dropdown-submenu">
                      <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collection III </span></a>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="../published/poetry/collection-III.html"><span class="text-line">
                              Valentine Edition
                            </span></a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="../published/poetry/collection-III-ii.html"><span class="text-line">
                              Original Edition
                            </span></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections IV — VI </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-IV.html"><span class="text-line">
                          Collection IV
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-V.html"><span class="text-line">
                          Collection V
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-VI.html"><span class="text-line">
                          Collection VI
                        </span></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections VII — IX </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-VII.html"><span class="text-line">
                          Collection VII
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-VIII.html"><span class="text-line">
                          Collection VIII
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-IX.html"><span class="text-line">
                          Collection IX
                        </span></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections X — XII </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-X.html"><span class="text-line">
                          Collection X
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XI.html"><span class="text-line">
                          Collection XI
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XII.html"><span class="text-line">
                          Collection XII
                        </span></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections XIII — XIV </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XIII.html"><span class="text-line">
                          Collection XIII
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XIV.html"><span class="text-line">
                          Collection XIV
                        </span><span class="badge bg-primary" style="font-size: 0.55em">New</span></a>
                    </li>
                  </ul>
                </li>
                <div class="mb-3 mt-3">
                  <a href="#">
                    Non-Fiction
                  </a>
                </div>

                <li>
                  <a class="dropdown-item" href="published/poetry/bury-me-in-1965.html"><span class="text-line">
                      Bury me in 1965
                    </span></a>
                </li>

                <li>
                  <a class="dropdown-item" href="published/journal/a-life-worth-living.html"><span class="text-line">
                      A Life Worth Living (Vision @ 2020)
                    </span></a>
                </li>
              
              </ul>-->
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="../../pages/upcoming.html"><span class="text-line"> Upcoming Poetry</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/freshPlayer.html"><span class="text-line"> Fresh Player </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/who-is-frith-hilton.html"><span class="text-line"> Who is Frith Hilton? </span></a>
            </li>            
            <li class="nav-item">
              <a class="nav-link" href="../../cookies.html"><span class="text-line"> Cookies Policy </span></a>
            </li>
          </ul>
        </div>
        <!--===== End of nav =====-->
      </div>
    </nav>
    <!--===== End of navbar =====-->
  </header>

  <!--========== 
        End of header ==========-->

  <!--========== 
        End of Sidebar ==========-->
  <section class="position-relative slice-ptb">
          <div class="mb-0">
          <a id="designer" href="https://leondev.com.ng" target="_blank" v-if="store.checkLocation()">
            <img class="img-fluid" src="../../images/ads/designedBySamsungS8.png" alt="">
          </a>
          </div>
  </section>
  <section class="position-relative slice-ptb">
    <div class="top-separator">
      <img class="img-fluid" src="../../images/separator/brush.svg" alt="" />
    </div>
    <div class="slice-ptb text-nightswan-gradient mt-n5">
      <div class="container">
        <div class="row text-center justify-content-center">
          <div class="col-lg-9 col-xl-8">
            <h1 class="text-white">
              Frith Hilton Collection
              <span class="text-nightswan-gradient"> X</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-divider mt-n5">
      <img class="img-fluid" :src="'../../images/separator/brush.svg'" alt="" />
    </div>
  </section>

  <section class="position-relative slice-ptb">
    <div class="container">
      <button class="btn btn-naked btn-icon-right" href="#!" v-effect="if
        (store.currentChapter == 0) $el.focus()"></button>
      <div class="row align-items-center mt-6">
        <h2 class="mb-6 text-center">Contents</h2>
        <div class="col-12">
          <ul class="nav nav-pills nav-border-wide justify-content-center mb-3" id="pills-tab-07" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-trekking-tab" data-bs-toggle="pill"
                data-bs-target="#pills-trekking" type="button" role="tab" aria-controls="pills-trekking"
                aria-selected="true" @click="store.setCoverXAsTab()">
                Cover
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-analysis-tab" data-bs-toggle="pill" data-bs-target="#pills-analysis"
                type="button" role="tab" aria-controls="pills-analysis" aria-selected="false"
                @click="store.setAuthorXAsTab()">
                Author's Note
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-investment-management-11-tab" data-bs-toggle="pill"
                data-bs-target="#pills-investment-management-11" type="button" role="tab"
                aria-controls="pills-investment-management-11" aria-selected="false" @click="store.setDedXAsTab()">
                Dedication & Acknowledgements
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-integration-tab" data-bs-toggle="pill"
                data-bs-target="#pills-integration" type="button" role="tab" aria-controls="pills-integration"
                aria-selected="false" @click="store.setChaptersXAsTab()">
                Chapters
              </button>
            </li>
          </ul>
          <div class="tab-content mt-5" id="pills-tabContent-07">
            <div class="tab-pane fade show active" id="pills-trekking" role="tabpanel"
              aria-labelledby="pills-trekking-tab">
              <div class="row">
                <div class="col-lg-6">
                  <img class="img-fluid" src="/images/collections/x/cover.jpg"
                    alt="Frith Hilton Collection X" />
                    <hr class="my-5" />
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-analysis" role="tabpanel" aria-labelledby="pills-analysis-tab">
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <div v-html="store.pageResources().authorsNote" class="mt-4 me-4 ms-4"></div>
                  <hr class="my-5" />
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-investment-management-11" role="tabpanel">
              <div class="row">
                <div class="col-lg-6">
                  <h4 class="text-center">Dedication</h4>
                  <div v-html="store.pageResources().dedication" class="mt-4 me-4 ms-4"></div>
                </div>
                <div class="col-lg-5 mt-5">
                  <h4 class="text-center">Acknowledgements</h4>
                  <div v-html="store.pageResources().acknowledgements" class="mt-4 me-4 ms-4"></div>
                </div>
              </div>
              <hr class="my-5" />
            </div>
            <div class="tab-pane fade" id="pills-integration" role="tabpanel" aria-labelledby="pills-integration-tab">

              <div class="row justify-content-center" id="reading">
                <div class="col-lg-6">

                  <hr class="my-5" />
                  <!--========== 
          Beginning of chapter titles ==========-->
                  <div v-for="(title, index) in
                      store.pageResources().chapterTitles" :key="index">
                    <div v-if="index !== 0 && store.getPageState() ==
                        'chapters'" @click="store.setPageState(index)" :id="index">
                      <!--===== Start of Title =====-->
                      <div class="mb-5 text-center">
                        <h2 class="col-4">
                          <span class="hedding-svg">{{store.pageResources().convertIndex(index)}}</span>
                        </h2>
                        <button class="btn btn-naked btn-icon-right" href="#!" v-effect="if (store.currentChapter ==
                            index ) $el.focus()"></button>
                        <h5 class="mt-3">{{title}}</h5>
                        <span v-show="store.currentChapter == index" class="title-separator"></span>
                      </div>

                      <!--===== End of Title =====-->
                      <hr class="my-4" />
                    </div>
                  </div>
                  <!--========== 
          End of chapter titles ==========-->
                  <!--========== 
          Beginning of chapter content ==========-->
                  <div v-if="store.currentChapter !== 0 &&
                      store.getPageState() ==
                      'poetry'">
                    <!--===== Start of Title =====-->
                    <div class="mb-5 text-center">
                      <h2 class="col-4 fw-bold mb-4">
                        <span class="hedding-svg">{{store.pageResources().convertIndex(store.currentChapter)}}</span>
                      </h2>
                      <h5>{{store.chapterTitle}}</h5>

                      <div v-html="store.getChapterContent()" class="mt-4 me-4 ms-4"></div>
                    </div>
                    <!--===== End of Title =====-->
                    <hr class="my-5" />

                    <!--===== Go back  =====-->
                    <div class="col-lg-3 col-sm-6">
                      <p @click="store.goBack()" class="btn btn-naked-wrap go-back-btn">
                        <i class="feather icon-arrow-left"></i>
                        <span> Chapters </span>
                      </p>
                    </div>
                    <!--===== End Go back  =====-->
                  </div>

                  <!--========== 
          End of chapter content ==========-->
                </div>
              </div>
            </div>
          </div>
                              <div class="mt-5 mb-5">
          <a id="ad2" href="#ad2">
            <img class="img-fluid" src="../../images/bg/bg5.jpg" alt="">
          </a>
          </div>

        </div>
      </div>
    </div>
  </section>





    <!--========== 
  Start of bottom page  ==========-->

  <section class="py-5 bg-pink-gradient">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h3 class="text-white" id="some-id">
            I'm here
            <u class="typer text-warning" data-words="writing,making music," data-delay="100" data-deletedelay="1000"
              style="color: black"></u>
            often.
          </h3>
        </div>
      </div>
    </div>
  </section>

  <!--========== 
  End of bottom page  ==========-->

  <!--========== 
    Map section ==========-->

  <section id="contact-us" class="position-relative">
    <div class="google-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.629367104963!2d3.2316144785641425!3d6.692744576034127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b996ae457d243%3A0x63b338921b72fdf9!2sFrith%20Nightswan%20Enterprises!5e0!3m2!1sen!2sng!4v1683451340692!5m2!1sen!2sng"
        width="800" height="600" style="border: 0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!--========== 
    End of map section ==========-->
  </section>
  <!--========== 
  Start of footer section ==========-->

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 position-relative mb-5 mb-sm-0">
          <div class="position-absolute top-0 start-0 slice-pt ps-5 ps-lg-8"></div>
        </div>
        <div class="col-lg-6">
          <!--===== Start of footer item =====-->
          <div class="text-center slice-ptb">
            <h4 class="mb-4 mt-5 mt-lg-0">Time Open</h4>
            <div class="mb-4">
              <h5>Monday to Friday</h5>
              <p>8:30 am to 5 pm</p>
            </div>

            <h4 class="mb-4">Address</h4>
            <div class="mb-4">
              <h5>11, Akindenoh street Ota, Ogun State.</h5>
              <p><a href="mailto:nightswan.enterprise@gmail.com">Send Frith Hilton Mail</a></p> 
                           
            </div>
            <h2 class="text-green mb-0 mt-5">
              <i class="feather icon-phone-call"></i> (234) 815 813 2408
            </h2>
          </div>
          <!--===== End of footer item =====-->
        </div>
      </div>
    </div>
  </footer>

  <footer class="footer bg-black slice-pt">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4 offset-lg-2">
          <h2 class="text-white display-2 mb-4">
            <span class="typer text-white" id="some-id" data-words="Catch up!" data-delay="100">
            </span>
          </h2>

          <div class="social-icons icons-xl mt-5">
            <a class="icon text-white" href="https://youtube.com/@frithhilton17?si=8pEsa1wf1KxLNvBK" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
            <a class="icon text-white" href="https://www.tiktok.com/@frithhilton17" target="_blank">
              <i class="fab fa-tiktok"></i>
            </a>            
            <a class="icon text-white" href="https://www.twitter.com/frithhilton17" target="_blank">
              <i class="fab fa-x-twitter"></i>
            </a>
            <a class="icon text-white" href="https://www.instagram.com/frithhilton17" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
      <hr class="mt-7" />
      <div class="row text-center">
        <div class="col-12">
<div class="developer-footer mb-2">
    <a href="https://leondev.com.ng" target="_blank"><img src="/images/Leondev.png" alt="lEoNDɘv" width="80" height="80"></a>  
</div>                            
          <p class="text-white mt-3 mb-4">
            © <span id="getFullYear"></span>
            <span class="text-pink-gradient">Howard Frith Hilton</span>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!--========== 
  End of footer section ==========-->

  <!--========== 
        Start of back to top section ==========-->

  <div class="go-top">
    <p class="go-top-text">
      Scroll to top <i class="fas fa-long-arrow-alt-right ps-2"></i>
    </p>
  </div>

  <!--========== 
	End of back to top section ==========-->	                      <div class="col-lg-3 col-sm-6">                        <p                          @click="window.location.href='../search.html'"                          class="btn btn-naked-wrap search-btn"                        >                          <i class="fas fa-search"></i>                          <span> search </span>                        </p>                      </div> 
  <!--========== 
	Start of Javascript ==========-->

  <!--===== Global required js =====-->
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="../../js/jquery-3.6.0.min.js"></script>
  <script src="../../js/popper.min.js"></script>
  <script src="../../js/bootstrap/bootstrap.min.js"></script>

  <!--===== Global script: js libraries and plugins =====-->
  <script src="../../js/appear/jquery.appear.js"></script>
  <script src="../../js/swiper/swiper.min.js"></script>
  <script src="../../js/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="../../js/isotope/isotope.pkgd.min.js"></script>
  <script src="../../js/typer/typer.js"></script>     <script src="../../js/firewall.js"></script>
  <script src="../../js/jarallax/jarallax.min.js"></script>
  <script src="../../js/mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numbered/1.1.0/index.min.js"
    integrity="sha512-UQKbSOyUPIxk4a5/TIcqKUfl2JX0b1Rgq16BgvZbIWa7g5g3Rl/RXzFJFt2iu9LzDUpqDbcaak2ifjW887SxPw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../../js/collection-X.js"></script>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: "1292503991685432",
        autoLogAppEvents: true,
        xfbml: true,
        version: "v16.0",
      });
    };
  </script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

  <!--===== Main theme script =====-->

 <script type="module">
    import {
      createApp,
      reactive
    } from "../../js/petite-vue.js";
    const store = reactive({
       IPAccess: false,       checkLocation() { this.IPAccess = JSON.parse(localStorage.getItem('accessAllowed')); return this.IPAccess; },
      currentURL: "/published/poetry/collection-X.html",
      staticPoemURL: "",
      poemURL: "",
      URLPoemID: 0,
      CopyURLText: "Copy URL",
      currentChapter: 0,
      goBackState: false,
      getCurrentChapter() {
        if (localStorage.getItem("XCurrentChapter")) {
          this.currentChapter = localStorage.getItem("XCurrentChapter");
        } else if (this.currentChapter == 0) {
          this.currentChapter = this.URLPoemID;
        } else {
          localStorage.removeItem("XCurrentChapter");
        }
      },
      chapterTitle: "",
      getChapterContent() {
        const chapterTitle = this.pageResources().chapterTitles.at(
          this.currentChapter
        );
        this.generatePoemURL();
        this.chapterTitle = chapterTitle;
        const chapterContent = this.pageResources().chapters;
        return chapterContent.at(this.currentChapter);
      },
      initialPageState: {
        viewX: "chapters",
      },
      pageState: localStorage.getItem("viewX"),
      getPageState() {
        this.decodePoemURL();
        if (this.pageState == "chapters") {
          const state = "chapters";
          localStorage.removeItem("XCurrentChapter");
          return state;
        } else if (this.pageState == "poetry") {
          this.decodePoemURL();
          this.getCurrentChapter();
          const state = "poetry";

          return state;
        } else {
          localStorage.setItem("viewX", this.initialPageState.viewX);
          const state = this.initialPageState.viewX;
          return state;
        }
      },
      setPageState(index) {
        localStorage.setItem("viewX", "poetry");
        location.href = "#reading";
        (this.pageState = localStorage.getItem("viewX")),
        (this.currentChapter = index);
        localStorage.setItem("XCurrentChapter", this.currentChapter);
      },
      goBack() {
        this.goBackState = true;
        localStorage.setItem("viewX", "chapters");
        this.pageState = localStorage.getItem("viewX");
        this.getPageState();
      },
      pageResources() {
        return {
          dedication: `<p class="text-center"><strong style="color: #010521">with love</strong></p> <p class="text-center"><strong style="color: #010521">to</strong></p> <p class="text-center"><strong style="color: #010521"><span class="fw-bold">Kylie Jenner</span></strong></p>`,
          acknowledgements: `<p>          A big thank you to those who make me do what I do, never letting me give up, with tough love, and tender care. Your love will take me to Mars and back. We've hit<span class="fw-bold"> X </span> y'all.</p>`,
          authorsNote: [
            `<p>         I'd like this poetry book to be a reminder of where my thoughts reside, when I'm on my high . . . with this in the can, it's eleven books this year. 2023 has been rewarding. </p>`,
          ],
          chapterTitles: [
            "0",
"I’ve Been Waiting",
"Pumped Kin",
"A Long Dream",
"Her Other Names",
"Silver",
"I Made Myself Write Today",
"Owl Light Ideas",
"Love Animal Stripes",
"Flamingo Slut",
"She Feels",
"The Man",
"Interred Tale Not Yelled",
"An Angel’s Midnight Sigh",
"Worth His Salt, But Not Meant",
"Did You Ask For Spring Water But Got Rain?",
"The Surf",
"Clip Spot X to Fly",
"Book Spirits",
"Her Hex",
"Cold Call",       
],
          chapters: [
            `0`,
`<p>I wonder what your desires are</p>
<p>if they are unlike the hour</p>
<p>&nbsp;</p>
<p>does your bother include any other</p>
<p>outside of the once ousted spats?</p>
<p>&nbsp;</p>
<p>in the free form of things</p>
<p>I see you’re not just a princess</p>
<p>but I hitch that to what else?</p>
<p>&nbsp;</p>
<p>what swathes this beauty that impress?</p>
<p>&nbsp;</p>
<p>could it be a quintuple to let go too intense?</p>
<p>&nbsp;</p>
<p>often this is my invest</p>
<p>evaluating how must they contest?</p>`, 
`<p>If I had my own kids store</p>
<p>I wouldn’t know how to give enough</p>
<p>&nbsp;</p>
<p>every day ‘d be a showcasing gore</p>
<p>kids by windows, babies inching up</p>
<p>&nbsp;</p>
<p>I’d file poor parenting reports</p>
<p>soon poor parents would be gone</p>
<p>&nbsp;</p>
<p>but not by this door</p>
<p>every home grieving toys</p>
<p>&nbsp;</p>
<p>I would have pleased the bore</p>
<p>they’d be my Halloween crop.</p>`,
`<p>I thought today was intact</p>
<p>... one of those days of impasse</p>
<p>&nbsp;</p>
<p>but when I rose to sleep, give thanks</p>
<p>I noticed nothing in the distance</p>
<p>to sleep; to dream of dud ads</p>
<p>as if a first time, I had your hands</p>
<p>and I didn’t want that other land.</p>
<p>&nbsp;</p>
<p>When the dizzy gust patted my back</p>
<p>I turned to catch his past</p>
<p>but in his mirror I was in your arms.</p>`,
`<p>A SOS for poets</p>
<p>ends with a row of guests</p>
<p>&nbsp;</p>
<p>all sobriquet-owned dressed</p>
<p>&nbsp;</p>
<p>the well-known exempted</p>
<p>&nbsp;</p>
<p>that’s patron mo Earth</p>
<p>her disguise grown fret.</p>`,
`<p>I have flossed the albatross</p>
<p>made the crass hazard bronze</p>
<p>&nbsp;</p>
<p>perchance if you find no worms</p>
<p>perhaps it’s the livery of your love.</p>`,
`<p>The bent on beginning</p>
<p>isn’t at all the half hemming</p>
<p>&nbsp;</p>
<p>in fact, it’s a seamstress hireling.</p>`,
`<p>The house next door</p>
<p>has a new pour</p>
<p>arousing none</p>
<p>&nbsp;</p>
<p>only eyes of worth.</p>
<p>&nbsp;</p>
<p>Since we got poor</p>
<p>ours and our reflection</p>
<p>&nbsp;</p>
<p>... the drought in assault.</p>`,
`<p>If I saw a kindergarten smile</p>
<p>I’d match my entire hide</p>
<p>but without having to give pride</p>
<p>not to display — away, I haven’t a night.</p>`,
`<p>Prescient</p>
<p>is this living space.</p>
<p>&nbsp;</p>
<p>Eyelets</p>
<p>often awful detail lace.</p>
<p>&nbsp;</p>
<p>Unkept</p>
<p>the scruple from the gad shade.</p>
<p>&nbsp;</p>
<p>Withheld</p>
<p>even with the holy shapes.</p>
<p>&nbsp;</p>
<p>I wept</p>
<p>a jejune drape.</p>
<p>&nbsp;</p>
<p>To forget</p>
<p>his heightened loss of grapes.</p>`,
`<p>Inviting insisting</p>
<p>to drinking the distilled</p>
<p>however clean isn’t wellie.</p>`, 
`<p>He has my waist.</p>
<p>And she has my taste.</p>
<p>&nbsp;</p>
<p>It’s been his futon.</p>
<p>Sward supine was shunt.</p>
<p>&nbsp;</p>
<p>Man, you have me frazzled.</p>`,
`<p>Deflecting to reflect.</p>
<p>&nbsp;</p>
<p>In effect</p>
<p>this faith’s silence</p>
<p>panting of the end;</p>
<p>ditto within exigence.</p>
<p>&nbsp;</p>
<p>Do I meet the princess</p>
<p>for you to furl our affected</p>
<p>or whine in a recherché desi hotel</p>
<p>make my love internment salted?</p>`,
`<p>I used to know an old pride</p>
<p>wending feeling of a fighting child</p>
<p>'ve a response to the questioning tide</p>
<p>but not by the hawser of this day's sunrise</p>
<p>&nbsp;</p>
<p>Isn't it this eyes that I've lied</p>
<p>wishing the tenebrous at this time</p>
<p>Have it, the by-line of one who benights</p>
<p>for when it's dark, I paw it doesn't hitchhike</p>
<p>&nbsp;</p>
<p>I met a friend in the eve's height</p>
<p>blue moon ago in a bond past twilight</p>
<p>he's showed up this morn when he'd recline</p>
<p>with encomiast words, unguent for golden lice</p>`,
`<p>It’s a map to nowhere;</p>
<p>wearing cartographer’s mess</p>
<p>boundary abutting heaven and poems</p>
<p>going from being by an alien titfer or a resident</p>
<p>en passant, the oneiric is the bounder’s lone legend</p>
<p>he’s by the painted wall, seen adjusting over again his lens.</p>`, 
`<p>My first big purchase</p>
<p>it’s probably this big chase</p>
<p>so one night, I’ll feel alive from loins to waist</p>
<p>how I afforded the soliloquies that put me in fame</p>
<p>or could it be of my natural parents when I first came?</p>
<p>&nbsp;</p>
<p>Life is filled with expenses, what do you entertain?</p>
<p>I arrived but not before painting the door, saying I’m incarnate.</p>
<p>&nbsp;</p>
<p>Sleeping berry, what now do you choose to attain?</p>
<p>Come let’s go give that one, love, she’ll forever appreciate.</p>`,
`<p>We were kewpie dolls</p>
<p>it was heaven and more</p>
<p>our green sole love of law</p>
<p>what remains up this young</p>
<p>when suddenly, odd-abrupt</p>
<p>you ‘d some floral clothing on</p>
<p>ridge of my imagination</p>
<p>thrusting me its divorce</p>
<p>foo, bar, it was obvious</p>
<p>ought in the amorphous</p>
<p>staring for my exile nod</p>
<p>only a baited swain now.</p>`, 
`<p>There isn't much time</p>
<p>open your missing eyes</p>
<p>even thawed snow sighs</p>
<p>a ferris wheel like smiles</p>
<p>all dumplings miss ye spine</p>
<p>showing countenance to try</p>
<p>it was on hay and in sunshine.</p>`,
`<p>Big on this . . .</p>
<p>I’m by a ravine</p>
<p>what else is written?</p>
<p>&nbsp;</p>
<p>His greed was eating</p>
<p>taking up leaving</p>
<p>even in its evening . . .</p>
<p>death, it’s emptying.</p>`, 
`<p>Once, a palindrome heart melted</p>
<p>with her milk now a wholly fermented</p>
<p>her darling was by for his usual request</p>
<p>his tongue lapped, slapped twitterpated</p>
<p>and all everyone said, and too, give comment</p>
<p>was "oh you got . . . oh yogurt . . ." a new idiolect</p>
<p>he'd absolute; thoroughly ignorant of what meant</p>
<p>but he didn’t need his mum telling him: catch a breath</p>
<p>he was sure he’d loved many a cows, but alas, threshed.</p>
<p>&nbsp;</p>
<p>He had always loved her breast</p>
<p>not just hers, he enjoyed opulence</p>
<p>but he couldn’t hold a peace reticent</p>
<p>he needed style, the baton by nutrients</p>
<p>everyone ever chanting their “yogurt” beset.</p>
<p>&nbsp;</p>
<p>Her heart soon lost its shapelessness</p>
<p>he thought it petrified, somehow useless</p>
<p>but to not mock himself, he was circumspect</p>
<p>when nada changed, drought seasons hapless</p>
<p>he asked her what’d changed; you became my ex.</p>`, 
`<p>An old box of shoe</p>
<p>has a hunch haling troop</p>
<p>it's one of a group</p>
<p>of the old match-dupes</p>
<p>&nbsp;</p>
<p>I met Kylie's sweet-tooths</p>
<p>since our do-penny brook</p>
<p>now I wuss out a glint, a dude</p>
<p>telling everyone I'm roomed</p>
<p>seated worst side for a book</p>
<p>not for any ol' reading groom</p>
<p>if he's selling me a boot truth</p>`, 












            
            
            
            
          ],
          convertIndex(prop) {
            var indexNumber = prop;
            var number = numbered.stringify(indexNumber);
            return number;
          },
        };
      },
      acceptCookieUse() {
        localStorage.setItem("cookieUse", true);
      },
      lastTabX: "",
      coverTabXIsActive: localStorage.getItem("coverTabXIsActive"),
      authorTabXIsActive: localStorage.getItem("authorTabXIsActive"),
      dedTabXIsActive: localStorage.getItem("dedTabXIsActive"),
      chapterTabXIsActive: localStorage.getItem("chapterTabXIsActive"),
      navLink: true,
      setCoverXAsTab() {
        this.lastTabX = "Cover";
        localStorage.setItem("lastTabX", this.lastTabX);
        localStorage.setItem("coverTabXIsActive", true);
        localStorage.setItem("authorTabXIsActive", false);
        localStorage.setItem("dedTabXIsActive", false);
        localStorage.setItem("chapterTabXIsActive", false);
      },
      setAuthorXAsTab() {
        this.lastTabX = "Author";
        localStorage.setItem("lastTabX", this.lastTabX);
        localStorage.setItem("coverTabXIsActive", false);
        localStorage.setItem("authorTabXIsActive", true);
        localStorage.setItem("dedTabXIsActive", false);
        localStorage.setItem("chapterTabXIsActive", false);
      },
      setDedXAsTab() {
        this.lastTabX = "Dedication";
        localStorage.setItem("lastTabX", this.lastTabX);
        localStorage.setItem("coverTabXIsActive", false);
        localStorage.setItem("authorTabXIsActive", false);
        localStorage.setItem("dedTabXIsActive", true);
        localStorage.setItem("chapterTabXIsActive", false);
      },
      setChaptersXAsTab() {
        this.lastTabX = "Chapters";
        localStorage.setItem("lastTabX", this.lastTabX);
        localStorage.setItem("coverTabXIsActive", false);
        localStorage.setItem("authorTabXIsActive", false);
        localStorage.setItem("dedTabXIsActive", false);
        localStorage.setItem("chapterTabXIsActive", true);
      },
      shareToFacebook() {
        this.generateStaticPoemURL();
        console.log(this.generateStaticPoemURL());
        FB.ui({
            display: "popup",
            method: "share",
            href: this.staticPoemURL,
          },
          function (response) {}
        );
      },
      copyURL() {
        this.CopyURLText = "URL copied to clipboard";
        this.generateStaticPoemURL();
        navigator.clipboard.writeText(this.staticPoemURL);
        $("#CopyURLText").css("color", "green");
        $("#copyURLIcon").css("color", "green");
        setTimeout(() => {
          $("#CopyURLText").css("color", "#010521");
          $("#copyURLIcon").css("color", "#010521");
          this.CopyURLText = "Copy URL";
        }, 8000);
      },
      shareToWhatsApp() {
        this.generateStaticPoemURL();
        const linkToShare = "whatsapp://send?text=" + this.staticPoemURL;
        window.open(linkToShare, "_blank");
      },
      shareToTwitter() {
        return
      },
      loadBookmark() {
        var urlParams = new URLSearchParams(location.search);
      },
      generatePoemURL() {
        var domainName = window.location.origin;
        const queryToAppend =
          domainName +
          this.currentURL +
          "?typeIsPoem" +
          "&id=" +
          this.currentChapter;
        this.poemURL = queryToAppend;
      },
      changeTabToChapter() {
        localStorage.setItem("coverTabXIsActive", false);
        localStorage.setItem("authorTabXIsActive", false);
        localStorage.setItem("dedTabXIsActive", false);
        localStorage.setItem("chapterTabXIsActive", true);
        document.getElementById("pills-integration-tab").click();
      },
      decodePoemURL() {
        if (this.goBackState == true) {
          return;
        } else {
          var bookmarkURL = new URLSearchParams(location.search);
          var getPoemIdFromURL = bookmarkURL.get("id");
          if (bookmarkURL.has("typeIsPoem") && getPoemIdFromURL <= 38) {
            this.changeTabToChapter();
            localStorage.setItem("viewX", "poetry");
            this.pageState = "poetry";
            this.URLPoemID = getPoemIdFromURL;
            this.currentChapter = this.URLPoemID;
            localStorage.setItem("XCurrentChapter", this.currentChapter);
            this.goBackState = false;
          } else if (bookmarkURL.has("typeIsPoem") && getPoemIdFromURL > 38) {
            localStorage.setItem("viewX", this.initialPageState.viewVI);
            window.location.href =
              window.location.origin + "/pages/not-found.html";
          } else {
            window.location.origin + "/pages/not-found.html";
          }
        }
      },
      generateStaticPoemURL() {
        var domainName = window.location.origin;
        const convertPoemID = this.pageResources().convertIndex(
          this.currentChapter
        );
        var shareURL =
          domainName +
          "/pages/Hilton/collections/iv/" +
          convertPoemID +
          ".html";
        this.staticPoemURL = shareURL;
      },
   goToPublished() {
      window.location.href = '../books.html';
    }
      
    });

    createApp({
      store,
    }).mount("#ctrlArea");
  </script>
  <!--========== 
	End of Javascript ==========-->
</body>

</html>