<!DOCTYPE html>
<html lang="en">

<head>
<script>
    function getQueryParam(param) {
        const urlParams = new URLSearchParams(window.location.search);

        return urlParams.get(param);
    }

    /**

 * Run the query parameter extraction on page load and update the page content.

 */

    function runOnPageLoad() {
        const queryValue = getQueryParam("query");

        if (queryValue !== null) {
            localStorage.setItem("viewVIII", "poetry");

            localStorage.setItem("VIIICurrentChapter", queryValue);

            console.log("Query parameter value:", queryValue); // You can replace this line with any other action

            // Update the page content based on the query parameter value

					localStorage.setItem("coverTabVIIIIsActive", false);
					localStorage.setItem("authorTabVIIIIsActive", false);
					localStorage.setItem("dedTabVIIIIsActive", false);
					localStorage.setItem("chapterTabVIIIIsActive", true);

            document.addEventListener("DOMContentLoaded", function () {
                var integrationTab = document.getElementById("pills-integration-tab");

                if (integrationTab) {
                    integrationTab.click();
                } else {
                    console.error("Element with ID 'pills-integration-tab' not found.");
                }
            });
        }
    }

    runOnPageLoad();
</script>
  
  <!--===== Required meta tags =====-->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="Howard Frith Hilton" />
  <meta name="description" content="Frith Hilton Collection VIII" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:url"
    content="" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Frith Hilton Collection VIII" />
  <meta property="og:description" content="Frith Hilton Collection VIII" />
  <meta property="og:image"
    content="" />

  <!--===== Title =====-->
  <title>Frith Hilton Collection VIII </title>

  <!--===== Favicon =====-->
  <link rel="shortcut icon" href="../../images/favicon.png" />

  <!--===== Google fonts =====-->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Jost:wght@300;400;500;600;700;800;900&display=swap" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet" />
 <!-- font-awesome-icons -->
 <script src="https://kit.fontawesome.com/c7fbb1b458.js" crossorigin="anonymous"></script>  

  <!--===== Global bootstrap required css =====-->
  <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css" />
  <!--===== Global styles including: Font Icons, Plugins, etc =====-->
  <link rel="stylesheet" type="text/css" href="../../css/font-awesome/all.min.css" />
  <link rel="stylesheet" href="../../css/feather/iconfont.css" />
  <link rel="stylesheet" href="../../css/pe-icon-stroke/Pe-icon-7-stroke.css" />
  <link rel="stylesheet" href="../../css/simple-line-icons/simple-line-icons.css" />
  <link rel="stylesheet" href="../../css/themify-icons/themify-icons.css" />
  <link rel="stylesheet" href="../../css/pe-icon-stroke/Pe-icon-7-stroke.css" />
  <link rel="stylesheet" href="../../css/swiper/swiper.min.css" />
  <link rel="stylesheet" href="../../css/magnific-popup/magnific-popup.css" />
  <!--===== Main theme css =====-->
  <link rel="stylesheet" href="../../css/style.css" />

</head>

  <body class="stokes-wrapper" id="ctrlArea" v-cloak>
    <!--========== 
	Start of loader ==========-->

  <div class="template-loader">
    <div class="loaderCenter">
      <div class="book">
        <div class="book__pg-shadow"></div>
        <div class="book__pg"></div>
        <div class="book__pg book__pg--2"></div>
        <div class="book__pg book__pg--3"></div>
        <div class="book__pg book__pg--4"></div>
        <div class="book__pg book__pg--5"></div>
      </div>
    </div>
  </div>

    <!--========== 
	End of loader ==========-->

    <!--========== 
    Start of  cookie modal notification section ==========-->
    <div class="modal-subscribe">
      <!-- Modal -->
      <div
        class="modal fade"
        data-bs-backdrop="static"
        id="myModal"
        tabindex="-1"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body p-0 bg-secondary rounded">
              <div class="p-5 text-center">
                <img
                  class="img-fluid px-5"
                  src="/images/svg/cookie.svg"
                  alt=""
                />
                <h3>Cookies</h3>
                <p class="text-dark">
                  <b>Hilton</b> uses cookies to enhance user experience
                </p>
                <a href="/cookies.html" class="text-primary-gradient fw-bold"
                  >Our policy</a
                >
                <div class="d-grid mt-5">
                  <button
                    type="button"
                    class="btn btn-white rounded"
                    data-bs-dismiss="modal"
                    @click="store.acceptCookieUse()"
                  >
                    Accept
                  </button>
                  <p class="text-dark mt-4">
                    Coupled with
                    <svg
                      class="logo"
                      viewBox="0 0 128 128"
                      width="24"
                      height="24"
                      data-v-53ccc107=""
                    >
                      <path
                        fill="#42b883"
                        d="M78.8,10L64,35.4L49.2,10H0l64,110l64-110C128,10,78.8,10,78.8,10z"
                        data-v-53ccc107=""
                      ></path>
                      <path
                        fill="#35495e"
                        d="M78.8,10L64,35.4L49.2,10H25.6L64,76l38.4-66H78.8z"
                        data-v-53ccc107=""
                      ></path>
                    </svg>
                    <a
                      href="https://github.com/vuejs/petite-vue"
                      target="_blank"
                      style="color: #42b883"
                      ><b>petite-vue</b></a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--========== 
          End of cookie modal notification section ==========-->
    <!--==========-->





  <header class="header">
    <!--===== Start of navbar =====-->
    <nav class="navbar navbar-light navbar-expand-lg navbar-default">
      <div class="container-fluid">
        <!--===== Start of logo =====-->
        <a class="navbar-brand" href="/"><img class="logo" src="/images/logo.png" alt="Frith Hilton Logo" /></a>
        <!--===== End of logo =====-->

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="icon-bar top-bar mt-0"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>

        <!--===== Start of nav =====-->
        <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/"><span class="text-line"> Home </span></a>
            </li>
            <li class="nav-item dropdown active">
              <a @click="store.goToPublished" class="nav-link dropdown-toggle" href="#" id="navbar-pages" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="text-line"> Publications</span>
              </a>

              <!--<ul class="dropdown-menu" aria-labelledby="navbar-pages">
                <div class="mb-3 mt-3">
                  <a href="#">
                    Frith Hilton Collections
                  </a>
                </div>

                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections I — III </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-I.html"><span class="text-line">
                          Collection I
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-II.html"><span class="text-line">
                          Collection II
                        </span></a>
                    </li>
                    <li class="dropdown-submenu">
                      <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collection III </span></a>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="../published/poetry/collection-III.html"><span class="text-line">
                              Valentine Edition
                            </span></a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="../published/poetry/collection-III-ii.html"><span class="text-line">
                              Original Edition
                            </span></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections IV — VI </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-IV.html"><span class="text-line">
                          Collection IV
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-V.html"><span class="text-line">
                          Collection V
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-VI.html"><span class="text-line">
                          Collection VI
                        </span></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections VII — IX </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-VII.html"><span class="text-line">
                          Collection VII
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-VIII.html"><span class="text-line">
                          Collection VIII
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-IX.html"><span class="text-line">
                          Collection IX
                        </span></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections X — XII </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-X.html"><span class="text-line">
                          Collection X
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XI.html"><span class="text-line">
                          Collection XI
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XII.html"><span class="text-line">
                          Collection XII
                        </span></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections XIII — XIV </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XIII.html"><span class="text-line">
                          Collection XIII
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XIV.html"><span class="text-line">
                          Collection XIV
                        </span><span class="badge bg-primary" style="font-size: 0.55em">New</span></a>
                    </li>
                  </ul>
                </li>
                <div class="mb-3 mt-3">
                  <a href="#">
                    Non-Fiction
                  </a>
                </div>

                <li>
                  <a class="dropdown-item" href="published/poetry/bury-me-in-1965.html"><span class="text-line">
                      Bury me in 1965
                    </span></a>
                </li>

                <li>
                  <a class="dropdown-item" href="published/journal/a-life-worth-living.html"><span class="text-line">
                      A Life Worth Living (Vision @ 2020)
                    </span></a>
                </li>
              
              </ul>-->
            </li>
            
            
            <li class="nav-item">
              <a class="nav-link" href="../../pages/upcoming.html"><span class="text-line"> Upcoming Poetry</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/freshPlayer.html"><span class="text-line"> Fresh Player </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/who-is-frith-hilton.html"><span class="text-line"> Who is Frith Hilton? </span></a>
            </li>            
            <li class="nav-item">
              <a class="nav-link" href="../../cookies.html"><span class="text-line"> Cookies Policy </span></a>
            </li>
          </ul>
        </div>
        <!--===== End of nav =====-->
      </div>
    </nav>
    <!--===== End of navbar =====-->
  </header>

  <!--========== 
        End of header ==========-->

  <!--========== 
        End of Sidebar ==========-->
  <section class="position-relative slice-ptb">
          <div class="mb-0">
          <a id="designer" href="https://leondev.com.ng" target="_blank" v-if="store.checkLocation()">
            <img class="img-fluid" src="../../images/ads/designedBySamsungS8.png" alt="">
          </a>
          </div>
  </section>
  <section class="position-relative slice-ptb">
    <div class="top-separator">
      <img class="img-fluid" src="../../images/separator/brush.svg" alt="" />
    </div>
    <div class="slice-ptb text-nightswan-gradient mt-n5">
      <div class="container">
        <div class="row text-center justify-content-center">
          <div class="col-lg-9 col-xl-8">
            <h1 class="text-white">
              Frith Hilton Collection
              <span class="text-nightswan-gradient"> VIII</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-divider mt-n5">
      <img class="img-fluid" :src="'../../images/separator/brush.svg'" alt="" />
    </div>
  </section>

  <section class="position-relative slice-ptb">
    <div class="container">
      <button class="btn btn-naked btn-icon-right" href="#!" v-effect="if
        (store.currentChapter == 0) $el.focus()"></button>
      <div class="row align-items-center mt-6">
        <h2 class="mb-6 text-center">Contents</h2>
        <div class="col-12">
          <ul class="nav nav-pills nav-border-wide justify-content-center mb-3" id="pills-tab-07" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-trekking-tab" data-bs-toggle="pill"
                data-bs-target="#pills-trekking" type="button" role="tab" aria-controls="pills-trekking"
                aria-selected="true" @click="store.setCoverVIIIAsTab()">
                Cover
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-analysis-tab" data-bs-toggle="pill" data-bs-target="#pills-analysis"
                type="button" role="tab" aria-controls="pills-analysis" aria-selected="false"
                @click="store.setAuthorVIIIAsTab()">
                Author's Note
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-investment-management-11-tab" data-bs-toggle="pill"
                data-bs-target="#pills-investment-management-11" type="button" role="tab"
                aria-controls="pills-investment-management-11" aria-selected="false" @click="store.setDedVIIIAsTab()">
                Dedication & Acknowledgements
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-integration-tab" data-bs-toggle="pill"
                data-bs-target="#pills-integration" type="button" role="tab" aria-controls="pills-integration"
                aria-selected="false" @click="store.setChaptersVIIIAsTab()">
                Chapters
              </button>
            </li>
          </ul>
          <div class="tab-content mt-5" id="pills-tabContent-07">
            <div class="tab-pane fade show active" id="pills-trekking" role="tabpanel"
              aria-labelledby="pills-trekking-tab">
              <div class="row">
                <div class="col-lg-6">
                  <img class="img-fluid" src="/images/collections/VIII/Cover.jpg"
                    alt="Frith Hilton Collection VIII" />
                    <hr class="my-5" />
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-analysis" role="tabpanel" aria-labelledby="pills-analysis-tab">
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <div v-html="store.pageResources().authorsNote" class="mt-4 me-4 ms-4"></div>
                  <hr class="my-5" />
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-investment-management-11" role="tabpanel">
              <div class="row">
                <div class="col-lg-6">
                  <h4 class="text-center">Dedication</h4>
                  <div v-html="store.pageResources().dedication" class="mt-4 me-4 ms-4"></div>
                </div>
                <div class="col-lg-5 mt-5">
                  <h4 class="text-center">Acknowledgements</h4>
                  <div v-html="store.pageResources().acknowledgements" class="mt-4 me-4 ms-4"></div>
                </div>
              </div>
              <hr class="my-5" />
            </div>
            <div class="tab-pane fade" id="pills-integration" role="tabpanel" aria-labelledby="pills-integration-tab">

              <div class="row justify-content-center" id="reading">
                <div class="col-lg-6">

                  <hr class="my-5" />
                  <!--========== 
          Beginning of chapter titles ==========-->
                  <div v-for="(title, index) in
                      store.pageResources().chapterTitles" :key="index">
                    <div v-if="index !== 0 && store.getPageState() ==
                        'chapters'" @click="store.setPageState(index)" :id="index">
                      <!--===== Start of Title =====-->
                      <div class="mb-5 text-center">
                        <h2 class="col-4">
                          <span class="hedding-svg">{{store.pageResources().convertIndex(index)}}</span>
                        </h2>
                        <button class="btn btn-naked btn-icon-right" href="#!" v-effect="if (store.currentChapter ==
                            index ) $el.focus()"></button>
                        <h5 class="mt-3">{{title}}</h5>
                        <span v-show="store.currentChapter == index" class="title-separator"></span>
                      </div>

                      <!--===== End of Title =====-->
                      <hr class="my-4" />
                    </div>
                  </div>
                  <!--========== 
          End of chapter titles ==========-->
                  <!--========== 
          Beginning of chapter content ==========-->
                  <div v-if="store.currentChapter !== 0 &&
                      store.getPageState() ==
                      'poetry'">
                    <!--===== Start of Title =====-->
                    <div class="mb-5 text-center">
                      <h2 class="col-4 fw-bold mb-4">
                        <span class="hedding-svg">{{store.pageResources().convertIndex(store.currentChapter)}}</span>
                      </h2>
                      <h5>{{store.chapterTitle}}</h5>

                      <div v-html="store.getChapterContent()" class="mt-4 me-4 ms-4"></div>
                    </div>
                    <!--===== End of Title =====-->
                    <hr class="my-5" />

                    <!--===== Go back  =====-->
                    <div class="col-lg-3 col-sm-6">
                      <p @click="store.goBack()" class="btn btn-naked-wrap go-back-btn">
                        <i class="feather icon-arrow-left"></i>
                        <span> Chapters </span>
                      </p>
                    </div>
                    <!--===== End Go back  =====-->
                  </div>

                  <!--========== 
          End of chapter content ==========-->
                </div>
              </div>
            </div>
          </div>
                              <div class="mt-5 mb-5">
          <a id="ad2" href="#ad2">
            <img class="img-fluid" src="../../images/bg/bg5.jpg" alt="">
          </a>
          </div>

        </div>
      </div>
    </div>
  </section>





    <!--========== 
  Start of bottom page  ==========-->

  <section class="py-5 bg-pink-gradient">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h3 class="text-white" id="some-id">
            I'm here
            <u class="typer text-warning" data-words="writing,making music," data-delay="100" data-deletedelay="1000"
              style="color: black"></u>
            often.
          </h3>
        </div>
      </div>
    </div>
  </section>

  <!--========== 
  End of bottom page  ==========-->

  <!--========== 
    Map section ==========-->

  <section id="contact-us" class="position-relative">
    <div class="google-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.629367104963!2d3.2316144785641425!3d6.692744576034127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b996ae457d243%3A0x63b338921b72fdf9!2sFrith%20Nightswan%20Enterprises!5e0!3m2!1sen!2sng!4v1683451340692!5m2!1sen!2sng"
        width="800" height="600" style="border: 0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!--========== 
    End of map section ==========-->
  </section>
  <!--========== 
  Start of footer section ==========-->

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 position-relative mb-5 mb-sm-0">
          <div class="position-absolute top-0 start-0 slice-pt ps-5 ps-lg-8"></div>
        </div>
        <div class="col-lg-6">
          <!--===== Start of footer item =====-->
          <div class="text-center slice-ptb">
            <h4 class="mb-4 mt-5 mt-lg-0">Time Open</h4>
            <div class="mb-4">
              <h5>Monday to Friday</h5>
              <p>8:30 am to 5 pm</p>
            </div>

            <h4 class="mb-4">Address</h4>
            <div class="mb-4">
              <h5>11, Akindenoh street Ota, Ogun State.</h5>
              <p><a href="mailto:nightswan.enterprise@gmail.com">Send Frith Hilton Mail</a></p> 
                           
            </div>
            <h2 class="text-green mb-0 mt-5">
              <i class="feather icon-phone-call"></i> (234) 815 813 2408
            </h2>
          </div>
          <!--===== End of footer item =====-->
        </div>
      </div>
    </div>
  </footer>

  <footer class="footer bg-black slice-pt">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4 offset-lg-2">
          <h2 class="text-white display-2 mb-4">
            <span class="typer text-white" id="some-id" data-words="Catch up!" data-delay="100">
            </span>
          </h2>

          <div class="social-icons icons-xl mt-5">
            <a class="icon text-white" href="https://youtube.com/@frithhilton17?si=8pEsa1wf1KxLNvBK" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
            <a class="icon text-white" href="https://www.tiktok.com/@frithhilton17" target="_blank">
              <i class="fab fa-tiktok"></i>
            </a>            
            <a class="icon text-white" href="https://www.twitter.com/frithhilton17" target="_blank">
              <i class="fab fa-x-twitter"></i>
            </a>
            <a class="icon text-white" href="https://www.instagram.com/frithhilton17" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
      <hr class="mt-7" />
      <div class="row text-center">
        <div class="col-12">
<div class="developer-footer mb-2">
    <a href="https://leondev.com.ng" target="_blank"><img src="/images/Leondev.png" alt="lEoNDɘv" width="80" height="80"></a>  
</div>                            
          <p class="text-white mt-3 mb-4">
            © <span id="getFullYear"></span>
            <span class="text-pink-gradient">Howard Frith Hilton</span>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!--========== 
  End of footer section ==========-->

  <!--========== 
        Start of back to top section ==========-->

  <div class="go-top">
    <p class="go-top-text">
      Scroll to top <i class="fas fa-long-arrow-alt-right ps-2"></i>
    </p>
  </div>

  <!--========== 
	End of back to top section ==========-->	                      <div class="col-lg-3 col-sm-6">                        <p                          @click="window.location.href='../search.html'"                          class="btn btn-naked-wrap search-btn"                        >                          <i class="fas fa-search"></i>                          <span> search </span>                        </p>                      </div> 
  <!--========== 
	Start of Javascript ==========-->

  <!--===== Global required js =====-->
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="../../js/jquery-3.6.0.min.js"></script>
  <script src="../../js/popper.min.js"></script>
  <script src="../../js/bootstrap/bootstrap.min.js"></script>

  <!--===== Global script: js libraries and plugins =====-->
  <script src="../../js/appear/jquery.appear.js"></script>
  <script src="../../js/swiper/swiper.min.js"></script>
  <script src="../../js/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="../../js/isotope/isotope.pkgd.min.js"></script>
  <script src="../../js/typer/typer.js"></script>     <script src="../../js/firewall.js"></script>
  <script src="../../js/jarallax/jarallax.min.js"></script>
  <script src="../../js/mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numbered/1.1.0/index.min.js"
    integrity="sha512-UQKbSOyUPIxk4a5/TIcqKUfl2JX0b1Rgq16BgvZbIWa7g5g3Rl/RXzFJFt2iu9LzDUpqDbcaak2ifjW887SxPw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../../js/collection-VIII.js"></script>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: "1292503991685432",
        autoLogAppEvents: true,
        xfbml: true,
        version: "v16.0",
      });
    };
  </script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

  <!--===== Main theme script =====-->

  <script type="module">
    import {
      createApp,
      reactive
    } from "../../js/petite-vue.js";
    const store = reactive({
       IPAccess: false,       checkLocation() { this.IPAccess = JSON.parse(localStorage.getItem('accessAllowed')); return this.IPAccess; },
      currentURL: "/published/poetry/collection-VIII.html",
      staticPoemURL: "",
      poemURL: "",
      URLPoemID: 0,
      CopyURLText: "Copy URL",
      currentChapter: 0,
      goBackState: false,
      getCurrentChapter() {
        if (localStorage.getItem("VIIICurrentChapter")) {
          this.currentChapter = localStorage.getItem("VIIICurrentChapter");
        } else if (this.currentChapter == 0) {
          this.currentChapter = this.URLPoemID;
        } else {
          localStorage.removeItem("VIIICurrentChapter");
        }
      },
      chapterTitle: "",
      getChapterContent() {
        const chapterTitle = this.pageResources().chapterTitles.at(
          this.currentChapter
        );
        this.generatePoemURL();
        this.chapterTitle = chapterTitle;
        const chapterContent = this.pageResources().chapters;
        return chapterContent.at(this.currentChapter);
      },
      initialPageState: {
        viewVIII: "chapters",
      },
      pageState: localStorage.getItem("viewVIII"),
      getPageState() {
        this.decodePoemURL();
        if (this.pageState == "chapters") {
          const state = "chapters";
          localStorage.removeItem("VIIICurrentChapter");
          return state;
        } else if (this.pageState == "poetry") {
          this.decodePoemURL();
          this.getCurrentChapter();
          const state = "poetry";

          return state;
        } else {
          localStorage.setItem("viewVIII", this.initialPageState.viewVIII);
          const state = this.initialPageState.viewVIII;
          return state;
        }
      },
      setPageState(index) {
        localStorage.setItem("viewVIII", "poetry");
        location.href = "#reading";
        (this.pageState = localStorage.getItem("viewVIII")),
        (this.currentChapter = index);
        localStorage.setItem("VIIICurrentChapter", this.currentChapter);
      },
      goBack() {
        this.goBackState = true;
        localStorage.setItem("viewVIII", "chapters");
        this.pageState = localStorage.getItem("viewVIII");
        this.getPageState();
      },
      pageResources() {
        return {
          dedication: `<p class="text-center">To <strong style="color: #010521"><span class="fw-bold"> Kendall Nicole Jenner.</span>  </strong></p>`,
          acknowledgements: `<p>         This collection rests on the shoulders of everyone who inspired me during the writing process. Thank you to Carmella Rose, Mariam Rod, Richard Hilton, Taylor Swift, Wolfie Cindy, Kendall Jenner, Jessica Andrea, Leonor, Princess of Asturias, Nicky Hilton, and Addison Rae.</p>`,
          authorsNote: [
            `<p class="text-center mt-1">For me, Collection eight is the door to forever. I hope you enjoy the poetry in this collection, twenty-three of them, I had so much fun in the writing process.</span> </p>`,
          ],
          chapterTitles: [
            "0",
"When the Bad Men Browbeat",
"You Sexy Thing I Believe in Miracles",
"Pomona Bears a Lantern",
"Remorse Restaurant",
"How I'd Employ a Boring Tongue",
"Red Thread of Fate",
"Closed Circuit",
"Whopper Bopper",
"Dismissed Laud",
"The Rod of Asclepius",
"It's a Military Campaign",
"Got it Bad or Great?",
"Bestie",
"Fine Gyre",
"Unfamiliar Stories",
"Kendall's Swatch",
"Oh Nadir",
"Mummy's Hutch",
"Quoit",
"The Queen",
"No Handle to this Gavel",
"The Demure Chalice",
"Hello Proprietor"
],
          chapters: [
            `0`,
`<p>Hilton has a pen</p>
<p>he thinks of the end</p>
<p>but he hasn’t a thing to tend</p>
<p>not if he is to someday bend</p>
<p>saying he loves you inked well.</p>`, 
`<p>Living in a parachute all the time</p>
<p>an angel without wings from the sky</p>
<p>is how I’ve felt since I got stuck in heights</p>
<p>up here, the atmosphere is nothing but blithe</p>
<p>and it’s quite the bite with you, everything I descry.</p>`, 
`<p> Built on the pastiche of true</p>
<p>as to … <em>this love ballooned</em></p>
<p>with the fecundity of whom</p>
<p>she had all of that wattle</p>
<p>I, every daub, a move.</p>`, 
`<p>The returning attendants arrived</p>
<p>left on the table was only a vial</p>
<p>emptiness had its new profile</p>
<p>their visage as they espied</p>
<p>with specious red eyes</p>
<p>sought only to belie</p>
<p>so she paid in jibes.</p>`, 
`<p>Tapping with my fingers</p>
<p>I saw how fast a beat drags</p>
<p>no longer than common smacks</p>
<p>if you kiss like Hilton and never bathe</p>
<p>but today by a drum, I’m giving no hang</p>
<p>birthday wishes as long as a French impasse.</p>`,
`<p>Raising a puppy</p>
<p>together haughty</p>
<p>the reasons motley</p>
<p>founded, too, furtive</p>
<p>all the way for deductive</p>
<p>tale of thread and bobbin.</p>`, 
`<p>In their goodbye trip</p>
<p>the good toon tripped</p>
<p>could you aid his trip</p>
<p>mindless, he’s tripped.</p>`, 
`<p>Missing a patch of pessimism</p>
<p>I brought all of the reasons</p>
<p>one was my sober avarice</p>
<p>my old love for hashish</p>
<p>my well buried habits</p>
<p>two times a bandit</p>
<p>our one family.</p>`, 
`<p>The quotes I love</p>
<p>losing their puff</p>
<p>in your hutch.</p>`, 
`<p>On self-care day</p>
<p>the daredevil’s entrails</p>
<p>were in-line for Gatorade</p>
<p>kidney paced without a blame</p>
<p>liver counted every present face</p>
<p>everyone could hear the heart’s bass</p>
<p>the intestines clung to a rod, as if a cane</p>
<p>no one left, not on the daredevil’s queue lane.</p>`,
`<p>What if I’m looking in the wrong place</p>
<p>so desirous, tunnelling in your maze</p>
<p>in hysteria fashioned for cartilage</p>
<p>a bone of contention at grade</p>
<p>potation in an amusing way</p>
<p>at the end of her ambage</p>
<p>this heart is simply lame</p>
<p>marauding loom shame</p>
<p>claiming … I’m insane.</p>`, 
`<p>The only guest of timing</p>
<p>if like me, and carefree</p>
<p>is hindsight memory</p>
<p>well sat in chiming</p>
<p>in its ever glory</p>
<p>you’re peeved</p>
<p>maybe happy</p>
<p>it was, still is</p>
<p>the history</p>`, 
`<p>Occupied as the mainstream</p>
<p>in this supporting meme</p>
<p>of a brother, a family</p>
<p>for a love slovenly</p>
<p>I ask what gives?</p>`, 
`<p>“That much,” she said</p>
<p>“put in that much bread”</p>
<p><i>but you know this ain’t Ted</i></p>
<p><i>right? You know we’re on bed</i></p>
<p>“I know daddy, I just want the best.”</p>`, 
`<p>Having thought of his eye</p>
<p>giving it much thought twice</p>
<p>he rang the downstairs bell shy</p>
<p><i>please, I’ll need more alone time</i></p>
<p>Addison Rae replied him on the line</p>
<p>“that’ll cost you more if you are hiding”</p>
<p><i>no I’m not, I’m not at the moment ready</i></p>
<p><i>I’ll need to give in to the long-time critics</i></p>
<p><i>a couple more days to compass what I see</i></p>
<p>and so it took him months of reading poetry.</p>`, 
`<p>Instagram photographs</p>
<p>afterlife paragraphs</p>
<p>irreducible grams</p>
<p>of sealed charm</p>
<p>spelling hearts.</p>`, 
`<p>By an entity playing for keeps</p>
<p>mummy has me on her beak</p>
<p>for a kiss that should leak</p>
<p>she says it’d be ad-lib</p>
<p>just kiss me.</p>`, 
`<p>Stop patronizing the boys</p>
<p>we know, only you got the bum</p>
<p>so why flaunt it, asking questions</p>
<p>impaling a grease lightning diamond</p>
<p>this boy does it for show, and will spurn</p>
<p>not if your bahookie is in for rump and stump.</p>`, 
`<p>At times I catch a glimpse</p>
<p>flush</p>
<p>of what I want and could be</p>
<p>plush</p>
<p>all I know, the pleasure I seek</p>
<p>moist</p>
<p>it’s in these moments, as a smith</p>
<p>ought</p>
<p>my mind forges into your identity</p>
<p>adroit</p>
<p>in variegated songs, and the poetic</p>
<p>lush.</p>`, 
`<p>The long pretence in silence</p>
<p>missing match of emmets</p>
<p>ends in us not friends</p>
<p>as one is helpless</p>
<p>other in ingress.</p>`, 
`<p>Don't judge a girl by her clothes</p>
<p>but tell her, it's on with the prose</p>
<p>there is a hundred to one billion</p>
<p>and more of spicy mediating photos</p>
<p>you will need, tell her it's the compost</p>
<p>the decaying morality of your ghost</p>
<p>the one who'd judge and repost</p>
<p>but hold on, have you any gropes</p>
<p>I took a dose and I thought it so</p>
<p>as you'd meant from the fructose</p>
<p>to not judge but imagine being close</p>
<p>so toes, they are approaching lows</p>
<p>the distance closing in on your cloche</p>
<p>when prose is toast, the new note.</p>`, 
`<p>Me and mine</p>
<p>think you’re a catfish</p>
<p>you belie</p>
<p>can we see your armpit</p>
<p>to rely</p>
<p>you’ll need to snap it.</p>
<p>in design</p>
<p>as models do, too neat.</p>`, 
`<p>I miss Leonor</p>
<p>that’s the bore</p>
<p>the one tuition</p>
<p>my single import</p>
<p>know this ward</p>
<p>say I called</p>
<p>a message short</p>
<p> </p>
<p><em>getting the cut</em></p>
<p><em>you’d be bald</em></p>
<p> </p>
<p>that’s all, all</p>
<p>I’ve been floored</p>
<p>by a distinction</p>
<p>oh by gum.</p>`, 
















            
            
            
            
          ],
          convertIndex(prop) {
            var indexNumber = prop;
            var number = numbered.stringify(indexNumber);
            return number;
          },
        };
      },
      acceptCookieUse() {
        localStorage.setItem("cookieUse", true);
      },
      lastTabVIII: "",
      coverTabVIIIIsActive: localStorage.getItem("coverTabVIIIIsActive"),
      authorTabVIIIIsActive: localStorage.getItem("authorTabVIIIIsActive"),
      dedTabVIIIIsActive: localStorage.getItem("dedTabVIIIIsActive"),
      chapterTabVIIIIsActive: localStorage.getItem("chapterTabVIIIIsActive"),
      navLink: true,
      setCoverVIIIAsTab() {
        this.lastTabVIII = "Cover";
        localStorage.setItem("lastTabVIII", this.lastTabVIII);
        localStorage.setItem("coverTabVIIIIsActive", true);
        localStorage.setItem("authorTabVIIIIsActive", false);
        localStorage.setItem("dedTabVIIIIsActive", false);
        localStorage.setItem("chapterTabVIIIIsActive", false);
      },
      setAuthorVIIIAsTab() {
        this.lastTabVIII = "Author";
        localStorage.setItem("lastTabVIII", this.lastTabVIII);
        localStorage.setItem("coverTabVIIIIsActive", false);
        localStorage.setItem("authorTabVIIIIsActive", true);
        localStorage.setItem("dedTabVIIIIsActive", false);
        localStorage.setItem("chapterTabVIIIIsActive", false);
      },
      setDedVIIIAsTab() {
        this.lastTabVIII = "Dedication";
        localStorage.setItem("lastTabVIII", this.lastTabVIII);
        localStorage.setItem("coverTabVIIIIsActive", false);
        localStorage.setItem("authorTabVIIIIsActive", false);
        localStorage.setItem("dedTabVIIIIsActive", true);
        localStorage.setItem("chapterTabVIIIIsActive", false);
      },
      setChaptersVIIIAsTab() {
        this.lastTabVIII = "Chapters";
        localStorage.setItem("lastTabVIII", this.lastTabVIII);
        localStorage.setItem("coverTabVIIIIsActive", false);
        localStorage.setItem("authorTabVIIIIsActive", false);
        localStorage.setItem("dedTabVIIIIsActive", false);
        localStorage.setItem("chapterTabVIIIIsActive", true);
      },
      shareToFacebook() {
        this.generateStaticPoemURL();
        console.log(this.generateStaticPoemURL());
        FB.ui({
            display: "popup",
            method: "share",
            href: this.staticPoemURL,
          },
          function (response) {}
        );
      },
      copyURL() {
        this.CopyURLText = "URL copied to clipboard";
        this.generateStaticPoemURL();
        navigator.clipboard.writeText(this.staticPoemURL);
        $("#CopyURLText").css("color", "green");
        $("#copyURLIcon").css("color", "green");
        setTimeout(() => {
          $("#CopyURLText").css("color", "#010521");
          $("#copyURLIcon").css("color", "#010521");
          this.CopyURLText = "Copy URL";
        }, 8000);
      },
      shareToWhatsApp() {
        this.generateStaticPoemURL();
        const linkToShare = "whatsapp://send?text=" + this.staticPoemURL;
        window.open(linkToShare, "_blank");
      },
      shareToTwitter() {
        return
      },
      loadBookmark() {
        var urlParams = new URLSearchParams(location.search);
      },
      generatePoemURL() {
        var domainName = window.location.origin;
        const queryToAppend =
          domainName +
          this.currentURL +
          "?typeIsPoem" +
          "&id=" +
          this.currentChapter;
        this.poemURL = queryToAppend;
      },
      changeTabToChapter() {
        localStorage.setItem("coverTabVIIIIsActive", false);
        localStorage.setItem("authorTabVIIIIsActive", false);
        localStorage.setItem("dedTabVIIIIsActive", false);
        localStorage.setItem("chapterTabVIIIIsActive", true);
        document.getElementById("pills-integration-tab").click();
      },
      decodePoemURL() {
        if (this.goBackState == true) {
          return;
        } else {
          var bookmarkURL = new URLSearchParams(location.search);
          var getPoemIdFromURL = bookmarkURL.get("id");
          if (bookmarkURL.has("typeIsPoem") && getPoemIdFromURL <= 38) {
            this.changeTabToChapter();
            localStorage.setItem("viewVIII", "poetry");
            this.pageState = "poetry";
            this.URLPoemID = getPoemIdFromURL;
            this.currentChapter = this.URLPoemID;
            localStorage.setItem("VIIICurrentChapter", this.currentChapter);
            this.goBackState = false;
          } else if (bookmarkURL.has("typeIsPoem") && getPoemIdFromURL > 38) {
            localStorage.setItem("viewVIII", this.initialPageState.viewVI);
            window.location.href =
              window.location.origin + "/pages/not-found.html";
          } else {
            window.location.origin + "/pages/not-found.html";
          }
        }
      },
      generateStaticPoemURL() {
        var domainName = window.location.origin;
        const convertPoemID = this.pageResources().convertIndex(
          this.currentChapter
        );
        var shareURL =
          domainName +
          "/pages/Hilton/collections/iv/" +
          convertPoemID +
          ".html";
        this.staticPoemURL = shareURL;
      },
   goToPublished() {
      window.location.href = '../books.html';
    }
      
    });

    createApp({
      store,
    }).mount("#ctrlArea");
  </script>
  <!--========== 
	End of Javascript ==========-->
</body>

</html>